node_modules
.DS_Store
vendor
.idea
package-lock.json
/build/
assets/build/
modules/*/assets/build/
integrations/assets/build/
lib/packages/
.vscode/


# PHPUnit
.phpunit.result.cache

# wp-env
.wp-env.override.json
