#bogo_product_data,
#bogo_settings_fields,
.disable-product-field,
.disable_bogo_product_discount,
.disable_get_multiple_category_field, 
.disable_get_multiple_product_field{
    display: none;
}

.active-product-field,
.enable_bogo_product_discount,
.enable_get_multiple_category_field, 
.enable_get_multiple_product_field {
    display: block;
}

.sgsb-bogo-box-title {
    color: #fff;
    padding: 10px;
    font-weight: 700;
    background: #0875ff;
}

.sgsb-bogo-box-title .sgsb-section-tip {
    cursor: pointer;
}

#bogo_settings_fields .sgsb-bogo-box-title {
    margin: 16px 0;
}

#bogo_settings_fields .sale_price_dates_fields {
    margin-bottom: 24px;
}

#bogo_settings_fields .sale_price_dates_fields .form-field:last-child {
    padding-top: 0 !important;
}

#bogo_settings_fields .sale_price_dates_fields .form-field,
#bogo_settings_fields .sale_price_dates_fields .form-field:last-child .description {
    margin: 0;
}

.bogo-notice {
    padding: 5px 10px;
    background: white;
}

.bogo-notice .bogo-notice-text {
    width: 90%;
    margin: 24px;
    background: white;
    padding: 10px 10px;
    display: inline-flex;
    border: 0.5px solid gray;
    border-left: 5px solid green;
}
