
/*=======================
* Font Load
========================*/
@import url('../font/inter-regular/stylesheet.css');
@import url('../font/inter-bold/stylesheet.css');


/*=======================
* WFC STYLES
========================*/
.wfc-cart-icon {
    position: fixed;
    display: inline-block;
    z-index: 999;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-box-shadow: -2px 0px 9px 0px rgba(184,184,184,1);
    -moz-box-shadow: -2px 0px 9px 0px rgba(184,184,184,1);
    box-shadow: -2px 0px 9px 0px rgba(184,184,184,1);
    border-radius: 4px
}
.bottom-left{
    bottom: 60px;
    left: 60px;
}
.bottom-right{
    bottom: 60px;
    right: 60px;
}
.top-right{
    top: 60px;
    right: 60px;
}
.top-left{
    top: 60px;
    left: 60px;
}
.wfc-cart-icon .wfc-icon {
    color: #2ecc71;
    cursor: pointer;
}

.wfc-icon:before,
.wfc-icon:after {
    font-size: 25px;
    line-height: 50px;
    margin-left: 0;
    font-weight: 600;
    padding: 13px;
}
.wfc-cart-icon .wfc-cart-countlocation{
    position: absolute ;
    top: -10px;
    right: -10px;
    background: #2ecc71;
    border-radius: 50%;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
    outline: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;
}

.wfc-widget-sidebar {
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 1001;
    -webkit-box-shadow: -2px 0px 9px 0px rgba(184,184,184,1);
    -moz-box-shadow: -2px 0px 9px 0px rgba(184,184,184,1);
    box-shadow: -2px 0px 9px 0px rgba(184,184,184,1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
}
.wfc-cart-heading{
    font-weight: 600;
    color: #111;
    padding-bottom: 12px;
    padding: 0 48px 50px;
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: 0.7px;
    font-family: 'Inter';
    margin-top: 40px;
}
.sgsb-widget-shopping-cart-content-wrapper {
    padding: 0 23px 35px;
}
.wfc-close-btn {
    float: right;
    color: #989FAB;
    cursor: pointer;
    font-size: 45px;
    line-height: 32px;
    font-weight: 300;
    margin-top: -15px;
}
.wfc-slide{
    right: -500px;
}
.wfc-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.83);
    top: 0;
    left: 0;
    z-index: 1000;
}
.wfc-hide {
    display: none
}

/* Cart Table */
table.sgsb-fly-cart-table {
    border: 0 none;
    min-width: initial;
    width: 100%;
}
tr.woocommerce-cart-form__cart-item.cart_item {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    margin-top: 18px;
    margin-bottom: 6px;
}
.sgsb-fly-cart-table td {
    border: 0 none;
    padding: 0;
}
.sgsb-fly-cart-table td.product-thumbnail {
    max-width: 34%;
    padding-right: 0;
    line-height: 0;
}
.sgsb-fly-cart-table td.product-name {
    width: 43%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    background: none;
}
.sgsb-fly-cart-table td.product-subtotal {
    width: 22%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-right: 6px;
    font-weight: 500;
    background: none;
}
.sgsb-fly-cart-table td.product-thumbnail img {
    border-radius: 3px;
    width: 6.3vw;
    height: 6.3vw;
}
.sgsb-fly-cart-table td.product-name .sgsb-product-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    width: 52%;
    line-height: 1.2;
}
.sgsb-fly-cart-table td.product-name .sgsb-product-title a {
    text-decoration: none;
    font-size: 16px;
    color: #080814;
    padding-bottom: 5px;
    font-weight: 500;
}

.sgsb-fly-cart-table .product-quantity {
    display: flex;
    width: 100px;
}
.sgsb-fly-cart-table .product-quantity button {
    width: 36px;
    background: #fff !important;
    height: 36px;
    text-align: center;
    padding: 0px 5px;
}
.sgsb-fly-cart-table .product-quantity button.sgsb-minus-icon {
    border: 1px solid #f3f3f3;
    cursor: pointer;
    padding: 0px 5px;
    font-size: 30px;
    border-radius: 8px;
    color: #989FAB;
    transition: .33s;
    alignment-baseline: central;
    text-decoration: none;
    padding-bottom: 15px;
}
.sgsb-fly-cart-table .product-quantity button.sgsb-plus-icon {
    border: 1px solid #f3f3f3;
    font-size: 25px;
    line-height: 32PX;
    color: #989FAB;
    border-radius: 8px;
    transition: .33s;
    cursor: pointer;
    text-decoration: none;
    PADDING-BOTTOM: 15PX;
}
.sgsb-fly-cart-table .product-quantity button.sgsb-plus-icon:hover,
.sgsb-fly-cart-table .product-quantity button.sgsb-minus-icon:hover{
    border-color: #DB1111;
}

.sgsb-fly-cart-table .product-quantity input {
    background: #fff !important;
    padding: 0;
    height: 40px;
    margin: 0;
    text-align: center;
    border: 0px solid rgb(221, 221, 221);
    outline: 0px;
    font-size: 18px;
    overflow: hidden;
    width: 1.2em;
}

.sgsb-widget-shopping-cart-content-wrapper input[type=number]::-webkit-outer-spin-button,
.sgsb-widget-shopping-cart-content-wrapper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sgsb-widget-shopping-cart-content-wrapper input[type=number] {
    -moz-appearance:textfield;
    background: transparent !important;
}
.sgsb-fly-cart-table .product-quantity input::-webkit-outer-spin-button,
.sgsb-fly-cart-table .product-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sgsb-fly-cart-table .coupon input:focus,
.sgsb-fly-cart-table .coupon button:focus,
.sgsb-fly-cart-table .product-quantity input:focus,
.sgsb-fly-cart-table .product-quantity button:focus {
    outline: 0 none;
}
.sgsb-fly-cart-table .coupon {
    display: flex;
    flex-wrap: wrap;
}
.sgsb-fly-cart-table .coupon input, .sgsb-fly-cart-table .coupon button {
    height: 50px;
    padding: 8px 10px;
    font-size: 16px;
}
.sgsb-fly-cart-table .coupon input {
    border: 1px solid #ccc;
    width: 60%;
    margin: 0;
}
.sgsb-fly-cart-table .coupon button {
    background-color: #28303d;
    color: #ccc;
    width: 40%;
    border: 0 none;
}
.sgsb-fly-cart-table .product-remove {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.sgsb-fly-cart-table .product-remove a {
    font-size: 0;
    text-align: center;
    text-decoration: none;
    background-image: url(../images/trash-active.png);
    height: 38px;
    width: 33px;
    display: block;
    background-repeat: no-repeat;
    transition: .33s;
    background-position: center center;
    border: 1px solid #f3f3f3;
    margin-left: -7px;
    position: relative;
    border-radius: 8px;
}
.sgsb-fly-cart-table .product-remove a:hover{
    background-image: url(../images/trash.png);
}


.sgsb-fly-cart-table .product-remove a:hover::after{
    display: flex;
    justify-content: center;
    border-radius: 52px;
    color: #fff;
    content: attr(title);
    font-size: 16px;
    padding: 8px 10px 5px;
    width: auto;
    position: absolute;
    bottom: -90%;
    right: 50%;
    background: url(../images/triangle.png) no-repeat scroll center center;
    font-family: 'Inter';
    width: 77px;
    height: 31px;
    transform: translatex(50%);
}

.woocommerce-page table.shop_table_responsive {
    text-align: left !important;
    border: none !important;
}
.wfc-widget-sidebar .cart-collaterals .cart_totals,
.wfc-widget-sidebar .cart-collaterals .cart_totals,
.wfc-widget-sidebar .cart-collaterals .cart_totals {
    float: none !important;
    width: initial !important;
}

/* Loading effect start */
@keyframes sgsb-loader-ld-spin {
    0% {
        animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.sgsb-page-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.sgsb-page-loader-ring {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 3em;
    height: 3em;
    margin: -1.5em;
    transition: all .3s;
    transition-timing-function: ease-in;
    box-sizing: content-box;
    animation: sgsb-loader-ld-spin 1s infinite linear;
}
.sgsb-page-loader-ring:after {
    content: " ";
    display: block;
    width: 6em;
    height: 6em;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    border-radius: 50%;
    border: 0.5em solid #2270b1;
    border-left-color: transparent;
}
/* Loading effect end */

.sgsb-cart-collaterals {
    padding-top: 30px;
}
.sgsb-cart-collaterals .cart_totals > h2 {
    display: none;
}
.sgsb-cart-collaterals table {
    border: 0;
    width: 100%;
}

.sgsb-cart-widget-buttons {
    display: block;
    padding-top: 30px;
}
.sgsb-cart-widget-buttons a {
    text-align: center;
    background-color: rgb(0, 141, 255) !important;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 0 15px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    font-size: 24px;
    border-radius: 13px;
    width: 100%;
    transition: .33s;
    display: block;
    width: 100%;
    text-decoration: none;
}

.sgsb-cart-widget-buttons a.sgsb-cart-widget-shooping-button {
    color: #fff !important;
    width: 100%;
    display: block;
    text-decoration: none;
}
.sgsb-cart-collaterals .shop_table td,
.sgsb-cart-collaterals .shop_table th {
    border-left: none;
    border-right: none;
    background: none;
    border: none;
    border-top: none !important;
}
.order-total span.woocommerce-Price-amount.amount {
    color: rgb(0, 0, 0);
}

.order-total th {
    color: rgb(0, 0, 0) !important;
}

.shop_table tbody tr {
    display: flex;
    justify-content: space-between;
}

.cart-collaterals table.shop_table_responsive th {
    font-size: 20px;
    font-weight: 500 !important;
    color: #dddddd;
    border: none !important;
    background: none;
}

.cart-collaterals .woocommerce-Price-amount {
    font-size: 20px;
    font-weight: 500;
    color: #dddddd;
}

.sgsb-cart-widget-buttons a:hover{
    background: rgb(0 111 201) !important;
}
.product-remove span{
    display: none !important;
}
.woocommerce .quantity .qty{
    color: #272731;
    background: transparent !important;
    width: 25px !important;
}
/* Checkout page start */
iframe.sgsb-fast-cart-checkout-frame {
    width: 100%;
    max-width: initial;
    border: 0 none;
}
.woocommerce-page .woocommerce-checkout #customer_details, 
.woocommerce-page.woocommerce-order-pay #customer_details {
    width: 100%;
    float: left;
}


.woocommerce-billing-fields h3 {
    font-size: 5vw !important;
}

.woocommerce form .form-row label,
.woocommerce form .form-row label {
    color: red;
}




/* Checkout page end */

/* Responsive start */

/* /		Medium Device	/ */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .wfc-cart-heading {
        font-size: 34px;
        padding: 0 32px 50px;
    }

    .wfc-widget-sidebar {
        max-width: 100%;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 21px;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title {
        width: 53%;
    }
    .sgsb-fly-cart-table td.product-subtotal {
        width: 14%;
        font-size: 18px;
    }
    .sgsb-fly-cart-table td.product-name {
        width: 53%;
    }
    .sgsb-fly-cart-table .product-quantity {
        width: 82px;
    }
    .cart-collaterals .woocommerce-Price-amount {
        font-size: 18px;
    }
    .cart-collaterals table.shop_table_responsive th {
        font-size: 18px;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 16px;
    }
}

/* /		Tablet Layout: 768px.	/ */

@media only screen and (min-width: 768px) and (max-width: 991px) {


    .wfc-widget-sidebar {
        max-width: 100%;
    }
    .wfc-cart-heading {
        padding: 18px 38px 50px;
        font-size: 28px;
    }
    .wfc-close-btn {
        margin-top: -10px;
    }
    tr.woocommerce-cart-form__cart-item.cart_item {
        padding: 10px;
    }
    .sgsb-widget-shopping-cart-content-wrapper {
        padding: 0 38px 50px;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title {
        font-size: 16px;
        width: 54%;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 16px;
    }
    .sgsb-fly-cart-table td.product-subtotal {
        width: 19%;
        font-size: 18px;
    }
    .sgsb-fly-cart-table .product-quantity input {
        width: 1.5em !important;
    }
    .sgsb-fly-cart-table .product-remove {
        right: 6px;
    }
    .sgsb-fly-cart-table .product-remove a {
        height: 36px;
        width: 36px;
    }
    .cart-collaterals .woocommerce-Price-amount {
        font-size: 17px;
    }
    .woocommerce table.shop_table_responsive tr td::before,
     .woocommerce-page table.shop_table_responsive tr.cart-subtotal td::before {
        font-size: 17px;
        color: #dddddd !important;
        font-weight: 500 !important;
    }
    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr.order-total td ::before {
        font-size: 17px;
        color: #000!important;
    }
    .sgsb-cart-collaterals .shop_table td, .sgsb-cart-collaterals .shop_table th {
        background: none !important;
    }
    .sgsb-fly-cart-table td.product-name {
        width: 52%;
    }
    .sgsb-fly-cart-table td.product-subtotal{
        font-size: 18px;
    }
    .cart-collaterals table.shop_table_responsive th {
        font-size: 17px;
    }

}



/* /		Mobile Layout: 320px.    / */

@media only screen and (max-width: 767px) {

    .wfc-widget-sidebar {
        width: 100%;
    }

    .wfc-cart-heading {
        margin-top: 30px;
        padding: 0 15px 15px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .sgsb-widget-shopping-cart-content-wrapper {
        padding: 0 15px 48px;
    }
    
    .sgsb-fly-cart-table td.product-name .sgsb-product-title {
        font-size: 16px;
        width: 100%;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 11px;
    }
    .cart-collaterals .woocommerce-Price-amount {
        font-size: 14px;
    }

    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr.cart-subtotal td::before {
       font-size: 17px;
    }
    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr.order-total td ::before {
       font-size: 17px;
       color: #000!important;
    }

    .sgsb-cart-collaterals .shop_table td, .sgsb-cart-collaterals .shop_table th {
        background: none !important;
    }

    .sgsb-fly-cart-table td.product-thumbnail img {
        width: 100%;
        height: 100%;
    }
    .sgsb-fly-cart-table .product-quantity button.sgsb-minus-icon {
        padding: 0px 1px;
        font-size: 28px;
    }
    .sgsb-fly-cart-table td.product-name {
        width: 43%;
    }
    .sgsb-fly-cart-table .product-quantity button {
        width: 30px;
        height: 30px;
        padding-bottom: 10px !important;
    }
    .sgsb-fly-cart-table .product-quantity input {
        height: 30px;
        font-size: 16px;
        width: 1.5em;
    }
    .sgsb-fly-cart-table .product-quantity button {
        padding: 0px 1px;
    }
    .sgsb-fly-cart-table .product-quantity button.sgsb-plus-icon {
        font-size: 18px;
        line-height: 1.5;
    }

    .sgsb-fly-cart-table td.product-name {
        width: 33%;
        text-align: center;
        display: block;
    }
    .sgsb-fly-cart-table .product-remove a {
        height: 32px;
        width: 27px;
    }
    .sgsb-fly-cart-table .product-quantity {
        display: flex;
        width: 82px;
        justify-content: center;
        margin: 0 auto;
    }
    .sgsb-fly-cart-table td.product-subtotal {
        width: 22%;
        margin-top: 5px;
        font-size: 14px;
    }
    .cart-collaterals table.shop_table_responsive th {
        font-size: 15px;
    }
    .sgsb-fly-cart-table td.product-thumbnail {
        max-width: 34%;
    }
    .sgsb-fly-cart-table .product-remove {
        right: 5px;
    }
   

    

}