
/*=======================
* Font Load
========================*/
@import url('../font/inter-regular/stylesheet.css');
@import url('../font/inter-bold/stylesheet.css');



/*=======================
* Quick cart Icon Style wrapper
========================*/
/* Quick cart icon  */
.wfc-cart-icon {
    position: fixed;
    display: inline-block;
    z-index: 999;
    border-radius: 4px
}
.wfc-cart-icon.bottom-left{
    bottom: 60px;
    left: 60px;
}
.wfc-cart-icon.bottom-right{
    bottom: 60px;
    right: 60px;
}
.wfc-cart-icon.top-right{
    top: 60px;
    right: 60px;
}
.wfc-cart-icon.top-left{
    top: 60px;
    left: 60px;
}
.wfc-cart-icon .wfc-icon {
    cursor: pointer;
}
.wfc-cart-icon .wfc-icon svg{
    width: 46px !important;
    height: 46px !important;
    padding: 5px !important;
}

.wfc-cart-icon.wfc-icon:before,
.wfc-cart-icon.wfc-icon:after {
    font-size: 25px;
    line-height: 50px;
    margin-left: 0;
    font-weight: 600;
    padding: 13px;
}
.wfc-cart-icon .wfc-cart-countlocation{
    position: absolute ;
    top: -10px;
    right: -10px;
    background: #fff;
    border-radius: 50%;
    color: #0875FF;
    line-height: 25px;
    font-size: 12px;
    outline: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;
}

/*=======================
* Quick cart content Slider
========================*/
.wfc-widget-sidebar {
    position: fixed;
    padding: 18px 0px !important;
    z-index: 1001;
    box-shadow: -2px 0px 9px 0px rgba(184,184,184,1);
    transition:  1s ease; 
}

.wfc-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.83);
    top: 0;
    left: 0;
    z-index: 1000;
}

.wfc-hide {
    display: none;
}

.wfc-slide{
    right: -800px !important;
}

/*=======================
* Quick cart content Wrapper
========================*/
.wfc-widget-sidebar .qc-cart-heading{
    position:sticky;
    padding: 0px 30px;
}

.wfc-widget-sidebar .qc-cart-heading .wfc-cart-heading{
    color: #073B4C;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
    font-family: 'Inter';
    letter-spacing: 0.7px;
}

.wfc-widget-sidebar .sgsb-widget-shopping-cart-content-wrapper {
    overflow-y: scroll;
    padding: 0px 30px;
}

.wfc-widget-sidebar .sgsb-widget-shopping-cart-content-wrapper .sgsb-widget-shopping-cart-content .woocommerce-info ,
.wfc-widget-sidebar .sgsb-widget-shopping-cart-content-wrapper .sgsb-widget-shopping-cart-content .woocommerce-message,
.wfc-widget-sidebar .sgsb-widget-shopping-cart-content-wrapper .sgsb-widget-shopping-cart-content .woocommerce-error{
    background-color: #ffffff;
    color: #222;
    border-top-width: 0px !important;
    padding: 1rem 1.5rem 1rem 3.5rem !important;
    margin-bottom: 2rem !important;
    list-style: none;
    position: relative;
    text-align: center !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    border-radius: 10px !important;
    margin-top: 2rem !important;
}

.wfc-widget-sidebar .sgsb-widget-shopping-cart-content-wrapper .sgsb-widget-shopping-cart-content .return-to-shop .wp-element-button{
    background-color: #073B4C;
    border-width: 0;
    border-radius: 6px !important;
    padding: 14px !important;
    color: #ffffff !important;
    font-weight: 600 !important;
}

.sgsb-widget-shopping-cart-content {
    max-width: 100%;
}
.sgsb-widget-shopping-cart-content-wrapper span.sgsb-cart-item-count {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(52, 95, 111);
}

.wfc-close-btn {
    float: right;
    color: #989FAB;
    cursor: pointer;
    font-size: 45px;
    font-weight: 300;
}


/* Cart Table */
.sgsb-widget-shopping-cart-content .sgsb-woocommerce-cart-form table.sgsb-fly-cart-table {
    border: 0 none;
    min-width: initial;
    width: 100%;
}
.sgsb-widget-shopping-cart-content .sgsb-woocommerce-cart-form .sgsb-fly-cart-table tr.woocommerce-cart-form__cart-item.cart_item {
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    align-items: center;
    border: 1px solid rgb(221, 230, 249);
    width: -webkit-fill-available;
}
.sgsb-fly-cart-table td {
    border: 0 none;
    padding: 0;
}
.sgsb-fly-cart-table td.product-thumbnail {
    max-width: 34%;
    padding-right: 0;
    line-height: 0;
}
.sgsb-fly-cart-table td.product-name {
    width: 60%;
    padding-right: 0%;
    display: flex;
    align-items: center;
    padding-left: 3%;
    background: transparent !important;
}
.sgsb-fly-cart-table td.product-subtotal {
    width: 15%;
    font-size: 18px;
    text-align: center;
    padding-right: 6px;
    font-weight: 600;
    color: rgb(7, 59, 76);
    background: transparent !important;
}
.sgsb-fly-cart-table td.product-thumbnail img {
    border-radius: 8px;
    width: 60px;
    height: 60px;
}
.sgsb-fly-cart-table td.product-name .sgsb-product-title {
    font-size: 16px;
    font-weight: bold;
    width: 52%;
    line-height: 1.2;
}
.sgsb-fly-cart-table td.product-name .sgsb-product-title a {
    text-decoration: none;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    color: rgb(7, 59, 76);
    display: block;
    line-height: 1;
}

.sgsb-fly-cart-table td.product-name .sgsb-product-title .sgsb-product-category {
    font-size: 12px;
    font-weight: initial;
    line-height: 1.5em;
    padding: 3px 10px;
    border-radius: 10px;
    color: rgb(53, 96, 111);
    display: inline;
    background: rgb(239, 242, 249);
  }

.sgsb-fly-cart-table .product-quantity {
    display: flex;
    width: 100px;
}
.sgsb-fly-cart-table .product-quantity button {
    width: 36px;
    background: #fff !important;
    height: 36px;
    text-align: center;
    padding: 0px 5px;
}
/* .sgsb-fly-cart-table .product-quantity button.sgsb-plus-icon {
    font-size: 25px;
    transition: .33s;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    margin-top: 2px;
    align-items: center;
    justify-content: center;
    color: rgb(7, 59, 76);
} */
.sgsb-widget-shopping-cart-content-wrapper .sgsb-widget-shopping-cart-content .sgsb-woocommerce-cart-form .sgsb-fly-cart-table .product-quantity button.sgsb-minus-icon, .sgsb-widget-shopping-cart-content-wrapper .sgsb-widget-shopping-cart-content .sgsb-woocommerce-cart-form .sgsb-fly-cart-table .product-quantity button.sgsb-plus-icon{
    font-size: 30px;
    transition: .33s;
    text-decoration: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(7, 59, 76);
}
.sgsb-fly-cart-table .product-quantity button.sgsb-plus-icon:hover,
.sgsb-fly-cart-table .product-quantity button.sgsb-minus-icon:hover{
    border-color: #DB1111;
}

.sgsb-fly-cart-table .product-quantity input {
    background: #fff !important;
    padding: 0;
    height: 40px;
    margin: 0;
    text-align: center;
    border: 0px solid rgb(221, 221, 221);
    outline: 0px;
    font-size: 18px;
    overflow: hidden;
    width: 1.2em;
}

.sgsb-widget-shopping-cart-content-wrapper input[type=number]::-webkit-outer-spin-button,
.sgsb-widget-shopping-cart-content-wrapper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sgsb-widget-shopping-cart-content-wrapper input[type=number] {
    -moz-appearance:textfield;
    background: transparent !important;
}
.sgsb-fly-cart-table .product-quantity input::-webkit-outer-spin-button,
.sgsb-fly-cart-table .product-quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sgsb-fly-cart-table .coupon input:focus,
.sgsb-fly-cart-table .coupon button:focus,
.sgsb-fly-cart-table .product-quantity input:focus,
.sgsb-fly-cart-table .product-quantity button:focus {
    outline: 0 none;
}
.sgsb-fly-cart-table .coupon {
    display: flex;
    flex-wrap: wrap;
}
.sgsb-fly-cart-table .coupon input, .sgsb-fly-cart-table .coupon button {
    height: 50px;
    padding: 8px 10px;
    font-size: 16px;
}
.sgsb-fly-cart-table .coupon input {
    border: 1px solid #ccc;
    width: 60%;
    margin: 0;
}
.sgsb-fly-cart-table .coupon button {
    background-color: #28303d;
    color: #ccc;
    width: 40%;
    border: 0 none;
}

.sgsb-fly-cart-table .product-remove a {
    font-size: 0;
    text-decoration: none;
    height: 38px;
    width: 38px;
    transition: .33s;
    border: 1px solid #f3f3f3;
    position: relative;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    margin-left: auto;
    background: rgb(239, 242, 249);
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}


.sgsb-fly-cart-table .product-remove a:hover::after{
    display: flex;
    justify-content: center;
    border-radius: 52px;
    color: #fff;
    content: attr(title);
    font-size: 16px;
    padding: 8px 10px 5px;
    width: auto;
    position: absolute;
    bottom: -90%;
    right: 50%;
    background: url(../images/triangle.png) no-repeat scroll center center;
    font-family: 'Inter';
    width: 77px;
    height: 31px;
    transform: translatex(50%);
}

.woocommerce-page table.shop_table_responsive {
    text-align: left !important;
    border: none !important;
}
.wfc-widget-sidebar .cart-collaterals .cart_totals,
.wfc-widget-sidebar .cart-collaterals .cart_totals,
.wfc-widget-sidebar .cart-collaterals .cart_totals {
    float: none !important;
    width: initial !important;
}

/* Loading effect start */
@keyframes sgsb-loader-ld-spin {
    0% {
        animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.sgsb-page-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.sgsb-page-loader-ring {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 3em;
    height: 3em;
    margin: -1.5em;
    transition: all .3s;
    transition-timing-function: ease-in;
    box-sizing: content-box;
    animation: sgsb-loader-ld-spin 1s infinite linear;
}
.sgsb-page-loader-ring:after {
    content: " ";
    display: block;
    width: 6em;
    height: 6em;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    border-radius: 50%;
    border: 0.5em solid #2270b1;
    border-left-color: transparent;
}
/* Loading effect end */

.sgsb-cart-collaterals .cart_totals > h2 {
    display: none;
}
.sgsb-cart-collaterals table {
    border: 0 !important;
    width: 100%;
}

.sgsb-cart-widget-buttons {
    gap: 16px;
    display: flex;
    padding-top: 20px;
}
.sgsb-cart-widget-buttons a {
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    padding: 14px 0;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    font-size: 22px;
    border-radius: 8px;
    width: 100%;
    transition: .33s;
    display: block;
    text-decoration: none;
    font-weight: 600;
    line-height: 1;
}

.sgsb-cart-widget-buttons a.sgsb-cart-widget-shooping-button {
    color: #fff !important;
    width: 100%;
    display: block;
    text-decoration: none;
}
.sgsb-cart-collaterals .shop_table td,
.sgsb-cart-collaterals .shop_table th {
    border-left: none;
    border-right: none;
    background: none;
    border: none;
    border-top: none !important;
}
.cart-subtotal span.woocommerce-Price-amount.amount {
    color: rgb(52, 95, 111);
}
.order-total span.woocommerce-Price-amount.amount {
    color: rgb(0, 0, 0);
}

.order-total th {
    color: rgb(0, 0, 0) !important;
}

.order-total th,
.order-total td {
    padding: 0;
    background: transparent !important;
}

.cart-subtotal th,
.cart-subtotal td {
    padding: 1em 0;
}

.shop_table tbody tr {
    display: flex;
    justify-content: space-between;
}

.cart-collaterals table.shop_table_responsive th {
    font-size: 20px;
    font-weight: 500 !important;
    color: rgb(52, 95, 111);
    border: none !important;
    background: none;
}

.cart-collaterals .woocommerce-Price-amount {
    font-size: 20px;
    font-weight: 500;
    color: #dddddd;
}

.sgsb-cart-widget-buttons a:hover{
    color: #fff;
    background: rgb(0 111 201) !important;
}
.product-remove span{
    display: none !important;
}
.product-quantity .quantity .qty{
    color: #272731;
    background: transparent !important;
    width: 25px !important;
    box-shadow: none;
    font-weight: 600;
}
/* Checkout page start */
iframe.sgsb-fast-cart-checkout-frame {
    width: 100%;
    max-width: initial;
    border: 0 none;
}
.woocommerce-page .woocommerce-checkout #customer_details, 
.woocommerce-page.woocommerce-order-pay #customer_details {
    width: 100%;
    float: left;
}


.woocommerce-billing-fields h3 {
    font-size: 5vw !important;
}

.woocommerce form .form-row label,
.woocommerce form .form-row label {
    color: red;
}




/* Checkout page end */

/* Responsive start */

/* /		Medium Device	/ */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .wfc-cart-heading {
        font-size: 34px;
        /* padding: 0 0px 30px; */
    }

    .wfc-widget-sidebar {
        max-width: 100% !important;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 21px;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title {
        width: 53%;
    }
    .sgsb-fly-cart-table td.product-subtotal {
        width: 14%;
        font-size: 18px;
    }
    .sgsb-fly-cart-table td.product-name {
        width: 53%;
    }
    .sgsb-fly-cart-table .product-quantity {
        width: 82px;
    }
    .cart-collaterals .woocommerce-Price-amount {
        font-size: 18px;
    }
    .cart-collaterals table.shop_table_responsive th {
        font-size: 18px;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 16px;
    }
}

/* /		Tablet Layout: 768px.	/ */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .wfc-widget-sidebar {
        max-width: 100% !important;
    }
    .wfc-widget-sidebar .sgsb-widget-shopping-cart-content-wrapper {
        width: 470px;
    }
    
    .wfc-widget-sidebar.sgsb-quick-cart-center-layout .sgsb-widget-shopping-cart-content-wrapper {
        width: 560px !important;
    }

    .wfc-widget-sidebar .qc-cart-heading {
        padding: 0px 20px;
    }

    .wfc-widget-sidebar .qc-cart-heading .wfc-cart-heading {
        font-size: 28px !important;
    }
    .wfc-close-btn {
        margin-top: -10px;
    }
    tr.woocommerce-cart-form__cart-item.cart_item {
        padding: 10px;
    }
    .sgsb-widget-shopping-cart-content-wrapper {
        padding: 0px 20px !important;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title {
        font-size: 16px;
        width: 54%;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 16px;
    }
    .sgsb-fly-cart-table td.product-subtotal {
        width: 19%;
        font-size: 18px;
    }
    .sgsb-fly-cart-table .product-quantity input {
        width: 1.5em !important;
    }
    .sgsb-fly-cart-table .product-remove {
        right: 6px;
    }
    .sgsb-fly-cart-table .product-remove a {
        height: 36px;
        width: 36px;
    }
    .cart-collaterals .woocommerce-Price-amount {
        font-size: 17px;
    }
    .woocommerce table.shop_table_responsive tr td::before,
     .woocommerce-page table.shop_table_responsive tr.cart-subtotal td::before {
        font-size: 17px;
        color: #345f6f !important;
        font-weight: 500 !important;
    } 
    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr.order-total td ::before {
        font-size: 17px;
        color: #000!important;
    }
    .sgsb-cart-collaterals .shop_table td, .sgsb-cart-collaterals .shop_table th {
        background: none !important;
    }
    .sgsb-fly-cart-table td.product-name {
        width: 52%;
    }
    .sgsb-fly-cart-table td.product-subtotal{
        font-size: 18px;
    }
    .cart-collaterals table.shop_table_responsive th {
        font-size: 17px;
    }

}



/* /		Mobile Layout: 320px.    / */

@media only screen and (max-width: 767px) {
    .wfc-widget-sidebar .qc-cart-heading {
        padding: 0px 20px !important;
    }

    .wfc-widget-sidebar .qc-cart-heading .wfc-cart-heading {
        font-size: 24px !important;
    }
    .wfc-widget-sidebar .qc-cart-heading .wfc-cart-heading .sgsb-cart-widget-close{
        font-size: 24px !important;
    }

    .wfc-widget-sidebar .sgsb-widget-shopping-cart-content-wrapper {
        padding: 0  20px !important;
        width: 80vw;
    }
   
    
    .sgsb-fly-cart-table td.product-name .sgsb-product-title {
        font-size: 16px;
        width: 100%;
    }
    .sgsb-fly-cart-table td.product-name .sgsb-product-title a {
        font-size: 11px;
    }
    .cart-collaterals .woocommerce-Price-amount {
        font-size: 14px;
    }

    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr.cart-subtotalz td::before {
        color: #345f6f !important;
        
       font-size: 17px;
    }
    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr.order-total td ::before {
       font-size: 17px;
       color: #000!important;
    }

    .sgsb-cart-collaterals .shop_table td, .sgsb-cart-collaterals .shop_table th {
        background: none !important;
    }

    .sgsb-fly-cart-table td.product-thumbnail img {
        width: 60%;
        height: 60%;
    }
    .sgsb-fly-cart-table .product-quantity button.sgsb-minus-icon {
        padding: 0px 1px;
        font-size: 28px;
    }
    .sgsb-fly-cart-table td.product-name {
        width: 43%;
    }
    .sgsb-fly-cart-table .product-quantity button {
        width: 30px;
        height: 30px;
        padding-bottom: 10px !important;
    }
    .sgsb-fly-cart-table .product-quantity input {
        height: 30px;
        font-size: 16px;
        width: 1.5em;
    }
    .sgsb-fly-cart-table .product-quantity button {
        padding: 0px 1px;
    }
    .sgsb-fly-cart-table .product-quantity button.sgsb-plus-icon {
        font-size: 18px;
        line-height: 1.5;
    }

    .sgsb-fly-cart-table td.product-name {
        width: 33%;
        text-align: center;
        display: block;
    }
    .sgsb-fly-cart-table .product-remove a {
        height: 32px;
        width: 27px;
    }
    .sgsb-fly-cart-table .product-quantity {
        display: flex;
        width: 82px;
        justify-content: center;
        margin: 0 auto;
    }
    .sgsb-fly-cart-table td.product-subtotal {
        width: 22%;
        margin-top: 5px;
        font-size: 14px;
    }
    .cart-collaterals table.shop_table_responsive th {
        font-size: 15px;
    }
    .sgsb-fly-cart-table td.product-thumbnail {
        max-width: 34%;
    }
    .sgsb-fly-cart-table .product-remove {
        right: 5px;
    }

    .sgsb-widget-shopping-cart-content-wrapper .sgsb-cart-widget-buttons a{
        font-size: 14px !important;
    }
   

    

}

::-webkit-scrollbar {
    /* height: 12px; */
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: none;
}
/* 
::-webkit-scrollbar-corner {
    background: #000;
} */
