@import url(../fonts/inter-regular/stylesheet.css);
@import url(../fonts/inter-medium/stylesheet.css);
@import url(../fonts/Inter-semibold/stylesheet.css);
@import url(../fonts/inter-bold/stylesheet.css);

.sgsb-stock-stockbar-status {
	width: 100%;
	margin-bottom: 5px;
}
.sgsb-stock-stockbar-status::after {
	display: table;
	content: " ";
	clear: both;
}
.sgsb-stock-stockbar-status span {
	display: block;
}
span.total-sold {
	float: left;
	color: #1B1B50;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}
span.instock {
	float: right;
	margin-top: -5px;
}
.jqmeter-container .outer-therm {
	margin-top: 0;
	margin-bottom: 8px;
}
.sgsb-stock-counter-and-bar {
	border: 1px solid #fff;
	padding: 15px 10px 10px;
	margin-bottom: 25px;
	border-radius: 8px;
}
.sgsb-stock-counter-heading {
	margin: 0 0 10px 0;
	text-align: center;
	font-size: 26px;
	line-height: 1.2;
}
.sgsb-stock-counter-items {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.sgsb-stock-stock-bar {
    padding: 10px 25px 7px;
}
.sgsb-stock-counter-and-bar {
	border-color: #cccccc;
	background-color:#ffffff;
}
.sgsb-stock-counter-item {
	text-align: center;
	color: #989FAB;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	height: 64px;
	width: 64px;
	border: 1px solid #ECEDF0;
	border-radius: 8px;
	padding: 14px 0;
	font-family: 'Inter';
}
.sgsb-stock-counter-item strong {
	display: block;
	font-size: 24px;
	line-height: .75;
	color: #1B1B50;
	font-weight: 500;
}
.sgsb-stock-stockbar-status-below {
	text-align: center;
}
.sgsb-stock-stock-bar-format-below {
	padding-top: 5px;
}
.sgsb-colon{
	margin: 0 14px;
	line-height: 4;
	color: #008DFF;
}
span.total-sale {
    display: inline;
    font-weight: 600;
}
.single-product .summary .sgsb-stock-counter-and-bar {
    margin-right: 2.81vw;
}

.sgsb-stock-progress-bar-section{
	margin-bottom: 10px;
	padding: 10px 25px 7px;
}

.sgsb-stock-progress-bar {
	width: 100%;
	background-color: #e2e2e2;
	border-radius: 5px;
	margin-top: 5px;
}
.sgsb-stock-progress-available-title{
	float: right;
}
.sgsb-stock-progress-sold-title,
.sgsb-stock-progress-available-title {
	color: #656565;
}
.sgsb-stock-progress-count {
	color: #000;
	font-weight: 700;
}

.stock.in-stock + .sgsb-stock-progress-bar-section {
	margin-top: 7px;
}