
.tab-pan-wrapper .ant-tabs-nav{
    background: #d9ede1;
    padding: 0 15px;
    color: black;
}


.order-bump-offer{
    font-size: 16px;
    background: #7979F5;
    height: 50px;
    font-size: 20px;
}

.order-bump-appearance{
    font-size: 16px;
    background: #7979F5;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
}

.order-bump-offer-text, .order-bump-appearance-text{
    font-size: 27px;
}

.order-bump-offer-section{
    background: #EEEEEE;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.order-bump-offer-section-text{
    font-size: 16px;
    color: #9b9bf5; 
}
.order-bump-save-change-button{
    background: #7979F5;
    border: 1px solid #7979F5;
    margin-top: 20px;
}


/* Start Order Bump List Table Styles. */
.create-upsell-order-bump-button {
    border: 0;
    width: 126px;
    height: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 24px;
    line-height: 20px;
    background-color: #CCE3FF;
    border-radius: 5px !important;
}

.create-upsell-order-bump-button,
.create-upsell-order-bump-button:hover {
    color: #073B4C !important;
}

.upsell-order-list-table .ant-table-container {
    /*border-radius: 5px;*/
}

.upsell-order-list-table .ant-table-thead .ant-table-cell {
    color: #073B4C;
    font-size: 16px;
    background: #FFF;
    font-weight: 500;
}

.upsell-order-list-table .ant-table-tbody .ant-table-row {
    background: #f7f9ff !important;
}

.upsell-order-list-table .ant-table-container,
.upsell-order-list-table .ant-table-content .ant-table-cell {
    border-color: #DDE6F9 !important;
}

/* End Order Bump List Table Styles. */


