@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../../../../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
    /* Other font properties like font-weight and font-style can also be defined here */
  }
  @font-face {
    font-family: 'Lato';
    src: url('../../../../../assets/fonts/Lato/Lato-Regular.ttf');
    /* Other font properties like font-weight and font-style can also be defined here */
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../../../../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
    /* Other font properties like font-weight and font-style can also be defined here */
  }
  @font-face {
    font-family: 'Poppins';
    src: url('../../../../../assets/fonts/Poppins/Poppins-Regular.ttf');
    /* Other font properties like font-weight and font-style can also be defined here */
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../../../../../assets/fonts/Roboto/Roboto-Regular.ttf');
    /* Other font properties like font-weight and font-style can also be defined here */
  }

body.show_discount_banner .sgsb-pd-banner-bar-wrapper{
    transition: 0.5s;
}

body:not(.show_discount_banner){
    padding-top: 0;
}

.sgsb-pd-banner-bar-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    background-color: #008DFF;
    color: #fff;
    z-index: 99999;
    /* height: 60px; */
    padding: 8px 0px;
}
.sgsb-pd-banner-bar {
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin:auto;
    height: 100%;
    align-items: center;
    padding: 0px 20px;
}

.sgsb-pd-banner-bar-wrapper .sgsb-pd-banner-bar-icon svg {
    margin-top: 8px;
    fill: #fff;
    width: 25px;
    height: 25px;
}

.sgsb-pd-banner-text{
    font-size: 20px;
    font-weight: 600;
}

.sgsb-pd-banner-bar-remove {
    cursor: pointer;
}

body.admin-bar .sgsb-pd-banner-bar-wrapper {
    top: 32px;
    max-width: 100%;
}

body {
    padding-top: 70px;
}

.body-padding-transition {
  padding-top: 20px;
  transition: padding-top 0.5s linear;
}

