/* variable color */
$white-color: #ffffff;

@mixin font-face($font-family, $font-path) {
  @font-face {
    font-family: #{$font-family};
    src: url(#{$font-path});
    /* Other font properties like font-weight and font-style can also be defined here */
  }
}

// Usage
@include font-face('IBM Plex Sans', '../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
@include font-face('Lato', '../fonts/Lato/Lato-Regular.ttf');
@include font-face('Montserrat', '../fonts/Montserrat/Montserrat-Regular.ttf');
@include font-face('Poppins', '../fonts/Poppins/Poppins-Regular.ttf');
@include font-face('Roboto', '../fonts/Roboto/Roboto-Regular.ttf');


.sgsb-header {
  padding: 0 20px !important;
  display: inline-flex;
  align-items: center;

}

.sgsb-logo {
  // background: url("../images/logo.svg");
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  // width: 164px;
  // height: 36px;
  margin: 24px auto 10px;
  text-align: center;

}

.sgsb-heading[class] {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  padding: 20px 0;
}

/*=============================
Module Card Style
=============================*/
#sbooster-modules-page {
  .ant-layout-header {
    padding: 0;

  }

  .ant-layout-header,
  .ant-layout-sider {
    background: #ffffff;

  }

}

.site-card-wrapper {
  .sgsb-module-card {
    border-radius: 10px;
    background: #FFF;

    .ant-card-body {
      padding: 0;

      .ant-divider {
        margin-bottom: 16px;
      }

      .ant-btn[class] {
        border-radius: 8px;
        height: auto;
        line-height: inherit;
        padding: 8px 18px 7px 15px !important;
        border: 1px solid #B2DDFF;
        position: relative;

        .anticon {
          svg {
            font-size: 16px;
            color: #989fab;
            position: relative;
            top: 1px;
          }
        }

        &:hover {
          border: 1px solid #008dff;

          .anticon {
            svg {
              color: #008dff;
            }
          }
        }
      }
    }

    .switch-btn {
      @media (min-width: 768px) and (max-width: 1024px) {
        float: none !important;

      }

    }

    .ant-switch {
      background: #638DC1;
      width: 46px;
      height: 25px;
      margin-left: -10px;

      @media (min-width: 768px) and (max-width: 1024px) {
        margin-left: 0 !important;

      }

      .ant-switch-handle {
        top: 3.5px;
        left: 4px;
      }

      &.ant-switch-checked {
        background: #2C81FF;

        .ant-switch-handle {
          left: calc(100% - 18px - 4px);
        }
      }
    }

    .module-thumb {
      border-radius: 35px;
      background: #E7F3FF;
      padding: 14px;
      margin-right: 11px;
      width: 64px;
      height: 64px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

    }

    .module-name {
      color: #073B4C;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 29px;

    }

    .module-desc {
      color: #757C7E;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      padding: 17px 40px 51px 23px;
      min-height: 152px;

    }

    .sgsb__module-footer {
      background: #DDF0FF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      @media (max-width: 767px) {
        padding: 19px 8px 19px !important;

      }

      .ant-space {
        .ant-space-item {
          .doc-btn {
            display: flex;
            gap: 10px;

          }

          .switch-btn {
            float: none !important;
          }
        }
      }

      .ant-space {
        display: flex;
        justify-content: space-between;
        width: 100%;

      }

      @media (min-width: 768px) and (max-width: 1024px) {
        // padding-left: 6px !important;
        // padding-right: 6px !important;

        &>div {
          // gap : 3px !important;

        }

        a {
          // font-size: 11px !important;
        }

      }

      .footer-btn[class] {
        color: #073B4C;
        font-size: 16px;
        font-weight: 400;
        border-radius: 8px;
        border: 1px solid #B2DDFF;
        background: #FFF;

        &:hover {
          color: #0875FF;
          border: 1px solid #B2DDFF;

        }

      }

    }
  }
}

/*=============================
Pagination Style
=============================*/
.sgsb__module-pagination {
  li {
    min-width: 47px;
    height: 47px;
    line-height: 45px;
    border-radius: 4px;
    border: 1px solid #B2DDFF;

    .ant-pagination-item-link {
      border: 0;

    }
  }

  .ant-pagination-item {
    a {
      &:hover {
        color: #fff;
        background: #008dff;
      }
    }

    &.ant-pagination-item-active {
      a {
        color: #fff;
        background: #008dff;
        border-radius: 4px;

      }
    }
  }
}

.sgsb-search-section {

  .search-bar {
    padding-right: 10px;

    @media (max-width: 520px) {
      margin-bottom: 20px;

    }

    &.active {
      input {
        display: block;
        width: 250px;
        transition: .3s linear 0s;

        @media (max-width: 520px) {
          width: 73%;

        }

      }

      .ant-input-group-addon {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

      }
    }

  }

  input[class] {
    background: #F6F9FF;
    border-radius: 8px;
    border: 0;
    height: 46px;
    width: 0;
    outline: none;
    display: none;
    border: 1px solid #B2DDFF;
    border-right-width: 0;
    transition: .3s linear 0s;

    &:focus {
      box-shadow: none;
    }
  }

  .ant-input-group-addon[class] {
    background-color: #F6F9FF;
    border: 1px solid #B2DDFF;
    padding: 4px 10px 0 15px;
    border-radius: 8px;
    color: #073B4C;
    font-size: 20px;
    cursor: pointer;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .ant-select-selector[class] {
    height: 56px;
    padding: 11px 24px;
    border: 1px solid #ecedf0;
    border-radius: 8px;
  }

  .module-filter {
    margin-left: 24px;
    position: relative;
    display: inline-block;
    max-width: 100%;

    .select-dropdown__button {
      background: #ffffff;
      border: 1px solid #ecedf0;
      border-radius: 8px;
      width: 218px;
      height: 56px;
      text-align: left;
      padding: 0 20px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      span {
        color: #1b1b50;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .dropdown__list {
      background: #ffffff;
      border: 1px solid #ecedf0;
      box-shadow: 0px 12px 48px rgba(27, 27, 80, 0.1);
      border-radius: 8px;
      width: 218px;
      padding: 18px;
      transform-origin: top left;
      transform: translateY(20px);
      transition: all ease-in-out 0.3s;
      z-index: 2;
      position: absolute;
      opacity: 0;
      visibility: hidden;

      li {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #1b1b50;
        }
      }
    }

    &.active {
      .dropdown__list {
        opacity: 1;
        visibility: visible;
        transform: translateY(4px);
      }
    }

    .ant-dropdown-button {
      position: relative;

      button {
        width: 210px;
        text-align: left;
        height: 56px;
        border-radius: 8px !important;
      }

      .ant-dropdown-trigger {
        position: absolute;
        right: 5px;
        z-index: 3;
        top: 6px;
        height: 40px;
        border: 0;
        width: auto;
      }
    }
  }
}

.ant-select-item[class] {
  min-height: inherit;
}

/*===============================
Settings Sidebar
===============================*/
main.ant-layout-content.sgsb-module-setting-layout {
  background: #f6f9ff;
  border-top-left-radius: 15px;
  z-index: 2;
  margin-left: -2px;
  margin-top: -1px;
}

.sgsb-admin-setting-dashboard {
  background: #f6f9ff;

  @media (max-width: 767px) {
    display: block;

  }

  @media (min-width: 1500px) {
    // gap: 20px;

  }

  @media (min-width: 768px) and (max-width: 1024px) {
    // gap: 10px;

  }

  @media (min-width: 1500px) and (max-width: 2000px) {
    // gap: 20px;

  }

  &-sideabr {
    background: #ffffff;

    @media (min-width: 1800px) {
      // padding: 0 22px;

    }

    @media (max-width: 767px) {
      padding-top: 2px;
      margin-bottom: 40px;

    }

    h3 {
      font-size: 18px;
      padding: 50px 20px 40px;
      display: flex;
      align-items: center;
      gap: 7px;

      @media (min-width: 1500px) {
        // padding: 50px 8px 40px;

      }

      svg {
        width: 14px;

      }
    }

    .all-widgets-menu {
      h4 {
        color: #073B4C;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px 20px 20px;
        gap: 10px;
        position: relative;

        @media (min-width: 1500px) {
          // padding: 0 12px 20px 8px;

        }

        &:before {
          content: "";
          position: absolute;
          background: #0875FF;
          width: 3px;
          height: 28px;
          right: 3px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;

        }

        span {
          margin-left: auto;
          cursor: pointer;

        }

        .ant-menu-title-content {
          img {
            margin-left: -24px;

          }
        }

      }

      ul {
        padding: 0 20px 0 0;

        @media (min-width: 1800px) {
          // padding: 0 22px;
          padding: 0 42px 0 0;

        }

        .sgsb-selected-module {
          background: #0875FF;
          color: #ffffff !important;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        li {
          padding: 12px 0px 12px 44px;
          position: relative;

          @media (min-width: 1500px) {
            // padding: 12px 0px 12px 34px;

          }

          &:hover {
            a {
              color: #ffffff;

            }
          }

          &:before {
            content: "";
            position: absolute;
            left: 18px;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @media (min-width: 1500px) {
              // left: 8px;

            }

          }

          &.fly-cart {
            &:before {
              content: "";
              background: url('../images/menu/quick-cart-icon.svg');

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/quick-cart-icon-white.svg');

              }

            }
          }

          &.progressive-discount-banner {
            &:before {
              content: "";
              background: url('../images/menu/free-shipping-bar-icon.svg');
              width: 20px;
              height: 18px;
              background-repeat: no-repeat;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/free-shipping-bar-icon-white.svg');
                width: 20px;
                height: 18px;
                background-repeat: no-repeat;
              }

            }
          }

          &.sales-pop {
            &:before {
              content: "";
              background: url('../images/menu/sales-pop.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/sales-pop-white.svg');

              }

            }
          }

          &.countdown-timer {
            &:before {
              content: "";
              background: url('../images/menu/countdown-timer.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/countdown-timer-white.svg');

              }

            }
          }

          &.upsell-order-bump {
            &:before {
              content: "";
              background: url('../images/menu/upsel.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/upsel-white.svg');

              }

            }
          }

          &.direct-checkout {
            &:before {
              content: "";
              background: url('../images/menu/direct-checkout.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/direct-checkout-white.svg');

              }

            }
          }

          &.stock-bar {
            &:before {
              content: "";
              background: url('../images/menu/stock-bar.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/stock-bar-white.svg');

              }

            }
          }

        }

        a {
          color: #757D9E;
          padding-top: 12px;
          padding-bottom: 12px;
          text-decoration: none;
          outline: none;

          &:hover {
            color: #ffffff;
          }

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        li.sgsb-selected-module {
          a {
            color: #ffffff; // Set the color to white when the anchor is within a selected module
          }

          &.fly-cart::before {
            background: url('../images/menu/quick-cart-icon-white.svg');
          }

          &.progressive-discount-banner::before {
            background: url('../images/menu/free-shipping-bar-icon-white.svg');
            width: 20px;
            height: 18px;
            background-repeat: no-repeat;
          }

          &.sales-pop::before {
            background: url('../images/menu/sales-pop-white.svg');
          }

          &.direct-checkout::before {
            background: url('../images/menu/direct-checkout-white.svg');
          }

          &.stock-bar::before {
            background: url('../images/menu/stock-bar-white.svg');

          }

          &.upsell-order-bump::before {
            background: url('../images/menu/upsel-white.svg');
          }

          &.countdown-timer::before {
            background: url('../images/menu/countdown-timer-white.svg');
          }

        }

        li {
          color: #757D9E;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background: #0875FF;
            color: #ffffff;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

          }

        }

        &.ant-menu-hidden {
          display: none;
        }
      }
    }

  }

}

.sgsb__settings-sidebar {
  background: $white-color;

  @media (min-width: 1800px) {
    width: 320px !important;
    flex: 0 0 320px !important;
    max-width: 320px !important;
    min-width: 320px !important;

  }

  .ant-layout-sider-children[class] {
    background: $white-color;
    margin-top: 0;
  }
}

/*===============================
End Settings Sidebar
===============================*/

// progressive discount banner css start
.sgsb-removable-icon-picker-wrapper {
  position: relative;

  .clear-icon {
    position: absolute;
    top: -11px;
    left: 38px;
    font-size: 18px;
    height: 22px;
    width: 22px;
    background: #0009;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    padding-bottom: 2px;
    z-index: 99999;
  }
}

// progressive discount banner css end
// upsell order bump css start
.sgsb-order-bumps-limit-warning-message {
  color: #1890ff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 25px 5px;
}

// upsell order bump css end


.sgsb-admin-dashboard {
  display: flex;
  flex-flow: row wrap;
  background: #f4f7fe;

  @media (max-width: 767px) {
    display: block;

  }

  @media (min-width: 1500px) {
    // gap: 20px;

  }

  @media (min-width: 768px) and (max-width: 1024px) {
    // gap: 10px;

  }

  @media (min-width: 1500px) and (max-width: 2000px) {
    // gap: 20px;

  }

  &-sideabr {
    flex-basis: 200px;
    background: #ffffff;

    @media (min-width: 1800px) {
      flex-basis: 320px;
      padding: 0 22px;

    }

    @media (max-width: 767px) {
      padding-top: 2px;
      margin-bottom: 40px;

    }

    h3 {
      font-size: 18px;
      padding: 50px 20px 40px;
      display: flex;
      align-items: center;
      gap: 7px;

      @media (min-width: 1500px) {
        // padding: 50px 8px 40px;

      }

      svg {
        width: 14px;

      }
    }

    .all-widgets-menu {
      h4 {
        color: #073B4C;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px 20px 20px;
        gap: 10px;
        position: relative;

        @media (min-width: 1500px) {
          // padding: 0 12px 20px 8px;

        }

        &:before {
          content: "";
          position: absolute;
          background: #0875FF;
          width: 3px;
          height: 28px;
          right: 3px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;

        }

        span {
          margin-left: auto;
          cursor: pointer;

        }

        .ant-menu-title-content {
          img {
            margin-left: -24px;

          }
        }

      }

      ul {
        padding: 0 20px 0 0;

        li {
          padding: 12px 0px 12px 44px;
          position: relative;

          @media (min-width: 1500px) {
            // padding: 12px 0px 12px 34px;

          }

          &:hover {
            background: #0875FF;
            color: #ffffff;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

            a {
              color: #ffffff;

            }
          }

          &:before {
            content: "";
            position: absolute;
            left: 18px;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            @media (min-width: 1500px) {
              // left: 8px;

            }

          }

          &.fly-cart {
            &:before {
              content: "";
              background: url('../images/menu/quick-cart-icon.svg');

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/quick-cart-icon-white.svg');

              }

            }
          }

          &.progressive-discount-banner {
            &:before {
              content: "";
              background: url('../images/menu/free-shipping-bar-icon.svg');
              width: 20px;
              height: 18px;
              background-repeat: no-repeat;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/free-shipping-bar-icon-white.svg');
                width: 20px;
                height: 18px;
                background-repeat: no-repeat;
              }

            }
          }

          &.sales-pop {
            &:before {
              content: "";
              background: url('../images/menu/sales-pop.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/sales-pop-white.svg');

              }

            }
          }

          &.countdown-timer {
            &:before {
              content: "";
              background: url('../images/menu/countdown-timer.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/countdown-timer-white.svg');

              }

            }
          }

          &.upsell-order-bump {
            &:before {
              content: "";
              background: url('../images/menu/upsel.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/upsel-white.svg');

              }

            }
          }

          &.direct-checkout {
            &:before {
              content: "";
              background: url('../images/menu/direct-checkout.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/direct-checkout-white.svg');

              }

            }
          }

          &.stock-bar {
            &:before {
              content: "";
              background: url('../images/menu/stock-bar.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/stock-bar-white.svg');

              }

            }
          }

        }

        a {
          padding-top: 12px;
          padding-bottom: 12px;
          text-decoration: none;

          &:focus {
            box-shadow: none;
          }
        }

        li,
        a {
          color: #757D9E;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;

        }

        &.ant-menu-hidden {
          display: none;
        }
      }
    }

    .active-widgets {
      color: #073B4C;
      font-size: 15px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 15px;
      cursor: pointer;

      @media (min-width: 1600px) {
        font-size: 16px;
      }
    }

    .request__feature-block {
      text-align: center;
      border-radius: 8px;
      border: 1px solid #2541AC;
      background: #2541AC;
      padding: 57px 3px 25px;
      margin: 95px 8px 0;
      position: relative;

      @media (min-width: 320px) and (max-width: 520px) {
        margin-bottom: 60px;

      }

      &:before {
        content: "";
        position: absolute;
        bottom: -19px;
        width: 100%;
        height: 40px;
        background: url('../images/slide-layer.svg');
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

        @media (min-width: 320px) and (max-width: 520px) {
          background-size: cover;
          bottom: -31px;

        }

        @media (min-width: 1441px) and (max-width: 2000px) {
          background-size: cover;
          left: -1.4px;
          bottom: -31px;

        }
      }

      .ant-image {
        position: initial;
        display: inherit;

        .ant-image-img {
          width: inherit;

        }

      }

      .box-icon {
        position: absolute;
        top: -38px;
        left: 50%;
        transform: translateX(-50%);

      }

      .rating {
        margin-bottom: 22px;

        svg {
          color: #FEB423;

        }
      }

      .premium-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 9px;

      }

      h4,
      p,
      h5 {
        color: #ffffff;

      }

      h5 {
        font-size: 14px;
        font-weight: 600;

      }

      h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        margin-bottom: 4px;

      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 20px;

      }

      .ant-btn {
        border-radius: 6px;
        background: #0875FF;
        padding: 0 16px;
        border: 0;

      }
    }



  }

  &-module {
    flex: 3;
    position: relative;

    // @media ( min-width: 1200px ) and (max-width: 1400px) {
    //   flex-basis: 80%;

    // }

    @media (min-width: 1800px) {
      .sgsb__module-pagination {
        padding-left: 38px !important;

      }
    }

    @media (max-width: 767px) {
      .sgsb__module-pagination {
        padding-left: 8px !important;

      }
    }

    @media (min-width: 1200px) and (max-width: 1439px) {
      .module-desc[class] {
        min-height: 208px;

      }

    }

    @media (min-width: 992px) and (max-width: 1199px) {
      .sgsb-module-card {
        .ant-card-body {
          &>div {
            &.ant-row {
              display: block;
            }
          }
        }
      }

    }

    @media (min-width: 1200px) and (max-width: 1300px) {
      .sgsb-module-card {
        .sgsb__module-footer[class] {
          padding: 8px !important;

          .doc-btn {
            gap: 3px !important;

          }

          .footer-btn[class] {
            font-size: 10px;

          }

        }
      }

    }

    @media (min-width: 1301px) and (max-width: 1439px) {
      .sgsb-module-card {
        .sgsb__module-footer[class] {
          padding: 8px !important;

          .footer-btn[class] {
            font-size: 12px;

          }

        }
      }

    }

    @media (min-width: 1025px) and (max-width: 1199px) {
      // flex-basis: 76%;

      .sgsb-module-card {
        .ant-card-body {
          &>div {
            &.ant-row {
              display: block;
            }
          }
        }
      }

    }


    .module-banner[class] {
      .ant-image[class] {
        width: 100% !important;

      }
    }

    &-box-content {
      background: #f4f7fe;
      border-top-left-radius: 15px;
      margin-top: -2px;
      position: relative;
      margin-left: -1px;

      // &:after {
      //   content: "";
      //   position: absolute;
      //   background: #fff;
      //   width: 18px;
      //   height: 10px;
      //   top: -4px;
      //   left: -8px;
      //   transform: rotate(-49deg);

      //   @media ( max-width: 767px ) {
      //     display: none;

      //   }
      // }

      .module-banner {
        img {
          height: 165px;
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

        }
      }

    }

    @media (min-width: 1500px) and (max-width: 2000px) {
      // flex-basis: 80%;

      &-box-content {
        // padding-left: 0 !important;
        padding: 30px 0 0 30px;

      }



    }

    @media (min-width: 2001px) {
      // flex-basis: 83%;

      &-box-content {
        // padding-left: 0 !important;
        padding: 30px 0 0 30px;

        .sgsb-module-card {
          .ant-card-body {
            &>div {
              &.ant-row {
                display: block;
              }
            }
          }
        }

        .module-banner {
          .ant-image {
            width: 100% !important;

          }
        }


      }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      // flex-basis: 71%;

      .module-banner {
        .ant-image {
          width: 100% !important;

        }
      }

      .doc-btn {
        // gap: 2px !important;

      }

      &-box-content {
        // padding-left: 0 !important;
        padding: 8px 0 0 8px;

      }

    }

    @media (min-width: 1440px) and (max-width: 2000px) {

      .module-banner {
        .ant-image {
          width: 100% !important;

        }
      }

    }

    .ant-alert-warning {
      margin: 13px 0px 0 14px;

    }

    &-top-bar {
      background: #ffffff;
      padding: 20px 0;
      margin-bottom: 0;
      position: relative;
      height: auto;

      &:after {
        content: "";
        position: absolute;
        background: #ffffff;
        width: 36px;
        height: 16px;
        bottom: -4px;
        left: -15px;
        transform: rotate(-58deg);

        @media (max-width: 767px) {
          display: none;

        }
      }

      &:before {
        content: "";
        position: absolute;
        background: #ffffff;
        width: 36px;
        height: 16px;
        bottom: -6px;
        left: -15px;
        transform: rotate(-32deg);

        @media (max-width: 767px) {
          display: none;

        }
      }

      @media (max-width: 767px) {
        margin-bottom: 30px;

      }

      .help-btn,
      .premium-btn {
        margin: 0px 30px 0 10px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 210px;
          height: 46px;
          border-radius: 8px;
          gap: 15px;
          padding: 0;

          span {
            font-size: 18px;
            font-weight: 700;

          }

        }
      }

      .premium-btn {
        a {
          border: none;
          background: var(--premium-color, #FFAC27);

        }
      }

    }

    @media (max-width: 991px) {
      &-box-content {
        display: block;

        &>div {
          max-width: 100% !important;

        }

        .module-banner {
          .ant-image {
            width: 100% !important;

          }
        }

        .sgsb-module-card {
          .ant-card-body {
            &>div {
              display: block;

            }
          }
        }
      }
    }

    @media (min-width: 1440px) and (max-width: 2000px) {

      &-box-content {
        .sgsb-module-card {
          .ant-card-body {
            &>div {
              display: block;

            }
          }
        }
      }

    }

    @media (min-width: 1300px) and (max-width: 1550px) {
      &-box-content {
        padding: 6px 0 0 14px;

        .sgsb__module-footer {
          padding: 15px !important;

          .switch-btn[class] {
            float: left !important;
            padding-left: 10px;

          }
        }

      }
    }

  }
}

#sbooster-settings-page {
  .sgsb-header {
    display: inline-block;

    .sgsb-logo {
      margin: 15px auto 10px;
      display: inline-block;

    }
  }

  .panel-header {
    .header-content {
      margin: 0;
      display: flex;
      color: #073B4C;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      align-items: center;
      padding: 24px 0 24px 30px;
      justify-content: space-between;
    }

    .header-divider {
      margin: 0;
      color: #DDE6F9;
    }
  }

  .panel-container,
  .panel-row {
    min-height: 100vh;

    .panel-column {
      height: auto;
      margin-top: 18px;

      .settings-panel {
        margin-right: 32px;

        .sgsb-settings-card {
          height: 100%;
          border-radius: 5px;
          border-color: #DDE6F9;

          .disabled-settings {
            overflow: hidden;
            position: relative;

            &:hover {
              .pro-content-overlay {
                display: flex;
              }
            }
          }

          .pro-content-overlay {
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            position: absolute;
            align-items: center;
            background: #00000080;
            justify-content: center;

            .upgrade-button {
              gap: 10px;
              color: #fff;
              font-size: 13px;
              font-weight: 600;
              padding: 9px 15px;
              border-radius: 5px;
              align-items: center;
              background: #FFAC27;
              display: inline-flex;

              .overlay-btn-crown {
                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
            }
          }

          .card-heading {
            height: 100%;
            display: flex;
            align-items: center;
          }

          .ant-card-body {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 18px;
            align-items: center;

            .textarea-heading,
            .textinput-heading {
              margin-top: 5px;
            }


            .settings-heading {
              margin: 0;
              margin-right: 10px;

              &.space-top {
                margin-top: 5px;
              }
            }

            .settings-field {
              float: right;
              background: #DFE6F3;

              &.singlecheckbox-field {
                background: none;

                .ant-checkbox-inner {
                  width: 30px;
                  height: 30px;

                  &:after {
                    inset-inline-start: 30.5%;
                    width: 7.714286px;
                    height: 13.142857px;
                  }
                }
              }

              &.single-content-field {
                background: transparent;

                .ant-checkbox {
                  .ant-checkbox-inner {
                    width: 18px;
                    height: 18px;

                    &:after {
                      margin-left: 1px;
                      width: 5.714286px;
                      height: 9.142857px;
                    }
                  }
                }
              }

              &.select-field {
                border-radius: 5px;

                .ant-select-selection-search-input {
                  box-shadow: none;
                }

                .ant-select-selector {
                  padding: 5px 10px;
                  border-radius: 5px;
                  border-color: #DDE6F9;

                  .ant-select-selection-overflow {
                    gap: 2px;
                  }

                  .ant-select-selection-item {
                    color: #073B4C;
                    background: #F6F9FF;
                  }
                }
              }

              &.number-field {
                width: 100%;
                border-radius: 5px;
                background: #F6F9FF;

                input {
                  color: #000;
                  text-align: center;
                }

                &.combine-field {
                  padding: 5px;
                  border-color: #DDE6F9;

                  input {
                    text-align: left;
                  }
                }
              }

              &.textarea-field,
              &.textinput-field {
                color: #073B4C;
                border-radius: 5px;
                background: #F6F9FF;
                border: 1px solid #DDE6F9;

                &.field-gap {
                  margin-bottom: 15px;
                }
              }

              &.textarea-field {
                padding: 10px 16px;
              }

              &.textinput-field {
                padding: 6px 10px;
              }

              &.single-select-field {
                border-color: #DDE6F9;
                background: #F6F9FF;
                border-radius: 5px;

                .ant-select-selector {
                  border-color: #DDE6F9;
                  border-radius: 5px;
                  background: #F6F9FF;
                  color: #073B4C;
                }

                &.combine-select,
                &.search-single-select {
                  .ant-select-selector {
                    height: auto;
                    padding: 5px 10px;

                    .ant-select-selection-search {
                      display: flex;
                      align-items: center;

                      input.ant-select-selection-search-input {
                        &:focus {
                          box-shadow: none;
                        }
                      }
                    }
                  }
                }
              }

              &.ant-switch-checked {
                background: #0875FF;
              }

              &.color-picker-field {
                border: 0;
                background: transparent;

                .ant-color-picker-color-block-inner {
                  border-color: #DDE6F9;
                }
              }

              &.radio-field {
                gap: 12px;
                height: 36px;
                display: inline-grid;
                grid-auto-flow: column;
                background: transparent;

                label.ant-radio-button-wrapper {
                  height: 100%;
                  padding: 0 12px;
                  border-radius: 5px;
                  border: 1px solid #DDE6F9;

                  &.ant-radio-button-wrapper-checked {
                    border-color: #0875FF;
                  }

                  &:before {
                    width: 0;
                  }

                  &:hover {
                    background: #0875FF;
                    border-color: #0875FF;

                    .radio-icon {
                      path {
                        fill: #FFF !important;
                      }
                    }
                  }
                }

                &.radio-img-field {
                  height: 100%;
                  margin-top: 20px;

                  label.ant-radio-button-wrapper {
                    color: #073B4C;
                    font-size: 14px;

                    .layout-img {
                      img {
                        margin: 12px 0 2px;
                      }
                    }

                    .option-name {
                      gap: 10px;
                      display: flex;
                      align-items: center;
                    }

                    &:hover,
                    &.ant-radio-button-wrapper-checked {
                      border: 1px solid #0875FF;
                      background: transparent;
                    }

                    &.ant-radio-button-wrapper-disabled {
                      border: 1px solid #dde6f9;
                    }
                  }
                }
              }

              &:not(.ant-switch-checked) {
                .ant-switch-inner-unchecked {
                  color: #73829D;
                }

                .ant-switch-handle {
                  &:before {
                    background: #ABB8D0;
                  }
                }
              }
            }
          }

          .settings-heading {
            color: #073B4C;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;

            &.content-field-heading {
              margin: 0;
              font-weight: 400;
              line-height: 1.4;
              margin-left: 12px;
            }
          }

          .settings-tooltip {
            width: 24px;
            height: 24px;
            display: flex;
            cursor: pointer;
            margin-right: 10px;
            align-items: center;
            border-radius: 50px;
            background: #DFE6F3;
            justify-content: center;
          }

          .textarea-content {
            p {
              margin: 0;
              color: #073B4C;
              font-size: 14px;
              line-height: 1.8;
            }
          }

          .sgsb-field-upgrade-pro-label {
            gap: 10px;
            display: flex;
            align-items: center;

            span.sgsb-pro-badge {
              font-size: 10px;
              font-weight: 600;
              line-height: 1;
              background: #FFAC27;
              color: white;
              border-radius: 10px;
              padding: 4px 7px;
            }
          }

          .ant-row {
            width: 100%;
          }

          &.content-group-settings {
            .ant-card-body {
              padding: 14px 18px;
            }

            .checkbox-heading {
              label {
                font-size: 14px;
              }
            }

            &.disabled-settings {
              .ant-card-body {
                .ant-col-2 {
                  display: inline-flex;

                  .ant-checkbox-input {
                    display: none;
                  }

                  .ant-checkbox-inner {
                    &:after {
                      display: none;
                    }
                  }
                }

                .checkbox-heading {
                  gap: 10px;
                  display: flex;

                  .upgrade-content {
                    gap: 10px;
                    display: flex;
                    color: #073B4C;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }

        &.full-width {
          margin: 0;
        }

        .section-divider {
          margin: 50px 0;
          color: #DDE6F9;
        }

        .sgsb-collapse-settings {
          overflow: hidden;
          border-color: #DDE6F9;
          border-radius: 5px;

          .ant-collapse-item {
            border-color: #DDE6F9;
            border-radius: 0;
          }

          .ant-collapse-header {
            border-radius: 0;
            background: #FFF;
            padding: 10px 16px;

            .ant-collapse-header-text {
              color: #073B4C;
            }
          }

          .ant-collapse-content {
            border-radius: 0;
            background: #f7f9ff;
            border-color: #DDE6F9;

            .content-bump-label {
              color: #073B4C;
              display: block;
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
              margin-bottom: 12px;
            }

            #fixed-bump,
            #discount-bump {
              color: #073B4C;
              padding: 6px 10px;
              border-radius: 5px;
              border: 1px solid #DDE6F9;
            }
          }
        }
      }

      .preview-panel {
        top: 40px;
        display: block;
        position: sticky;
        margin-left: 32px;
      }
    }

    .ant-tabs-nav {
      margin-bottom: 36px;

      .ant-tabs-tab-btn {
        color: #7f9aa5;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
      }

      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: #0875FF;
        }
      }

      &:before {
        border-color: #DDE6F9;
      }
    }

    .section-header {
      gap: 10px;
      display: flex;
      margin-left: 3px;
      margin-bottom: 20px;
      align-items: center;

      h4 {
        margin: 0;
        color: #073B4C;
        font-size: 18px;
        font-weight: 600;
      }

      .sgsb-field-upgrade-pro-label {
        margin-top: 2px;
      }
    }

    .sgsb-settings-actions {
      gap: 10px;
      right: 50px;
      bottom: 50px;
      z-index: 9999;
      display: flex;
      position: fixed;
      align-items: center;

      .sgsb-settings-save-button {
        border: 0;
        margin: 0;
        height: auto;
        z-index: 9999;
        line-height: 1;
        font-size: 16px;
        font-weight: 500;
        padding: 12px 24px;
        background: #0875FF;
      }

      .sgsb-settings-reset-button {
        height: auto;
        z-index: 9999;
        color: #073B4C;
        line-height: 1;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
        padding: 12px 24px;
        background: #f6f9ff;
        border: 1px solid #DDE6F9;
      }
    }
  }

  .panel-container {
    padding: 0 30px;

    .row-divider {
      margin: 0;
      height: auto;
      margin-left: -1px;
    }

    .space-top {
      margin-top: 36px;
    }
  }
}

.ant-select-selector {
  width: 100%;
  border-color: #DDE6F9 !important;
}

.trigger-radio-selected {
  background-color: #F6F9FF;
}
