/* variable color */
$white-color: #ffffff;

.sgsb-header {
  padding: 0 20px !important;
  display: inline-flex;
  align-items: center;

}

.sgsb-logo {
  // background: url("../images/logo.svg");
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  // width: 164px;
  // height: 36px;
  margin: 24px auto 10px;
  text-align: center;

}

.sgsb-heading[class] {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  padding: 20px 0;
}

/*=============================
Module Card Style
=============================*/
#sbooster-modules-page {
  .ant-layout-header {
   padding: 0;

  }

  .ant-layout-header, .ant-layout-sider {
    background: #ffffff;

  }

}

.site-card-wrapper {
  .sgsb-module-card {
    border-radius: 10px;
    background: #FFF;

    .ant-card-body {
      padding: 0;

      .ant-divider {
        margin-bottom: 16px;
      }

      .ant-btn[class] {
        border-radius: 8px;
        height: auto;
        line-height: inherit;
        padding: 8px 18px 7px 15px !important;
        border: 1px solid #B2DDFF;
        position: relative;

        .anticon {
          svg {
            font-size: 16px;
            color: #989fab;
            position: relative;
            top: 1px;
          }
        }

        &:hover {
          border: 1px solid #008dff;

          .anticon {
            svg {
              color: #008dff;
            }
          }
        }
      }
    }

    .switch-btn {
      @media (min-width: 768px) and (max-width: 1024px) {
        float: none !important;
        
      }

    }

    .ant-switch {
      background: #638DC1;
      width: 46px;
      height: 25px;
      margin-left: -10px;

      @media (min-width: 768px) and (max-width: 1024px) {
        margin-left: 0 !important;
        
      }

      .ant-switch-handle {
        top: 3.5px;
        left: 4px;
      }

      &.ant-switch-checked {
        background: #2C81FF;

        .ant-switch-handle {
          left: calc(100% - 18px - 4px);
        }
      }
    }

    .module-thumb {
      border-radius: 35px;
      background: #E7F3FF;
      padding: 14px;
      margin-right: 11px;
      width: 64px;
      height: 64px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

    }
    .module-name {
      color: #073B4C;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 29px;

    }

    .module-desc {
      color: #757C7E;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      padding: 17px 40px 51px 23px;
      min-height: 152px;

    }

    .sgsb__module-footer {
      background: #DDF0FF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .ant-space {
        .ant-space-item {
          .doc-btn {
            display: flex;
            gap: 10px;
            
          }

          .switch-btn {
            float: none !important;
          }
        }
      }

      .ant-space {
        display: flex;
        justify-content: space-between;
        width: 100%;

      }

      @media ( min-width: 768px ) and ( max-width: 1024px ) {
        padding-left: 6px !important;
        padding-right: 6px !important;

        & > div {
          gap : 3px !important;

        }

        a {
          font-size: 11px !important;
        }
        
      }

      .footer-btn[class] {
        color: #073B4C;
        font-size: 16px;
        font-weight: 400;
        border-radius: 8px;
        border: 1px solid #B2DDFF;
        background: #FFF;

        &.setting-btn {
          color: #0875FF;
        }

      }

    }
  }
}

/*=============================
Pagination Style
=============================*/
.sgsb__module-pagination {
  li {
    min-width: 47px;
    height: 47px;
    line-height: 45px;
    border-radius: 4px;
    border: 1px solid #B2DDFF;

    .ant-pagination-item-link {
      border: 0;

    }
  }

  .ant-pagination-item {
    a {
      &:hover {
        color: #fff;
        background: #008dff;
      }
    }

    &.ant-pagination-item-active {
      a {
        color: #fff;
        background: #008dff;
      }
    }
  }
}

.sgsb-search-section {

  .search-bar {
    padding-right: 10px;

    &.active {
      input {
        display: block;
        width: 250px;
        transition: .3s linear 0s;
        
      }

      .ant-input-group-addon {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

      }
    }

  }

  input[class] {
    background: #F6F9FF;
    border-radius: 8px;
    border: 0;
    height: 46px;
    width: 0;
    outline: none;
    display: none;
    border: 1px solid #B2DDFF;
    border-right-width: 0;
    transition: .3s linear 0s;

    &:focus {
      box-shadow: none;
    }
  }

  .ant-input-group-addon[class] {
    background-color: #F6F9FF;
    border: 1px solid #B2DDFF;
    padding: 4px 10px 0 15px;
    border-radius: 8px;
    color: #073B4C;
    font-size: 20px;
    cursor: pointer;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .ant-select-selector[class] {
    height: 56px;
    padding: 11px 24px;
    border: 1px solid #ecedf0;
    border-radius: 8px;
  }

  .module-filter {
    margin-left: 24px;
    position: relative;
    display: inline-block;
    max-width: 100%;

    .select-dropdown__button {
      background: #ffffff;
      border: 1px solid #ecedf0;
      border-radius: 8px;
      width: 218px;
      height: 56px;
      text-align: left;
      padding: 0 20px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      span {
        color: #1b1b50;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .dropdown__list {
      background: #ffffff;
      border: 1px solid #ecedf0;
      box-shadow: 0px 12px 48px rgba(27, 27, 80, 0.1);
      border-radius: 8px;
      width: 218px;
      padding: 18px;
      transform-origin: top left;
      transform: translateY(20px);
      transition: all ease-in-out 0.3s;
      z-index: 2;
      position: absolute;
      opacity: 0;
      visibility: hidden;

      li {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #1b1b50;
        }
      }
    }

    &.active {
      .dropdown__list {
        opacity: 1;
        visibility: visible;
        transform: translateY(4px);
      }
    }

    .ant-dropdown-button {
      position: relative;

      button {
        width: 210px;
        text-align: left;
        height: 56px;
        border-radius: 8px !important;
      }

      .ant-dropdown-trigger {
        position: absolute;
        right: 5px;
        z-index: 3;
        top: 6px;
        height: 40px;
        border: 0;
        width: auto;
      }
    }
  }
}

.ant-select-item[class] {
  min-height: inherit;
}

/*===============================
Settings Sidebar
===============================*/
.sgsb__settings-sidebar {
  background: $white-color;

  .ant-layout-sider-children[class] {
    background: $white-color;
    border: 1px solid #ecedf0;
    border-radius: 8px;

    ul {
      background: none;
      padding: 4px 18px;

      li {
        padding: 6px;
        padding-left: 18px !important;
        height: 46px;

        .ant-menu-item-icon {
          display: none;
        }

        .ant-menu-title-content {
          margin-left: 0;
        }

        a {
          font-size: 16px;
          font-weight: 500;
          color: #1b1b50;
        }

        &.ant-menu-item-selected {
          background: #008dff;
          border-radius: 8px;

          a {
            color: $white-color;
          }

          &:after {
            display: none;
          }
        }
      }
    }

    h3 {
      font-size: 20px;
      color: #080814;
      border-bottom: 1px solid #ecedf0;
      padding: 18px 24px;
    }
  }
}
/*===============================
End Settings Sidebar
===============================*/

// progressive discount banner css start
.sgsb-removable-icon-picker-wrapper {
  position: relative;

  .clear-icon {
    position: absolute;
    top: -11px;
    left: 38px;
    font-size: 18px;
    height: 22px;
    width: 22px;
    background: #0009;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    padding-bottom: 2px;
    z-index: 99999;
  }
}

// progressive discount banner css end
// upsell order bump css start
.sgsb-order-bumps-limit-warning-message{
  color: #1890ff;
  font-weight: bold;
}
// upsell order bump css end


.sgsb-admin-dashboard {
  display: flex;
  flex-flow: row wrap;

  @media ( max-width: 767px ) {
    display: block;

  }

  @media ( min-width: 1500px ) {
    // gap: 20px;
    
  }

  @media ( min-width: 768px ) and ( max-width: 1024px ) {
    // gap: 10px;
    
  }

  @media ( min-width: 1500px ) and ( max-width: 2000px ) {
    // gap: 20px;
    
  }

  &-sideabr {
    flex-basis: 200px;
    background: #ffffff;

    @media ( min-width: 1500px ) {
      flex-basis: 320px;
      
    }

    @media ( max-width: 767px ) {
      padding-top: 2px;
      margin-bottom: 40px;
      
    }

    h3 {
      font-size: 18px;
      padding: 50px 20px 40px;
      display: flex;
      align-items: center;
      gap: 7px;

      svg {
        width: 14px;

      }
    }

    .all-widgets-menu {
      h4 {
        color: #073B4C;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px 20px 20px;
        gap: 10px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          background: #0875FF;
          width: 3px;
          height: 28px;
          right: 3px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;

        }

        span {
          margin-left: auto;
          cursor: pointer;

        }

        .ant-menu-title-content {
          img {
            margin-left: -16px;
            
          }
        }
    
      }

      ul {
        padding: 0 20px 0 0;

        li {
          padding: 12px 0px 12px 44px;
          position: relative;

          &:hover {
            a {
              color: #ffffff;

            }
          }

          &:before {
            content: "";
            position: absolute;
            left: 18px;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

          }

          &.fly-cart {
            &:before {
              content: "";
              background: url('../images/menu/quick-cart-icon.svg');

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/quick-cart-icon-white.svg');
  
              }
              
            }
          }

          &.progressive-discount-banner {
            &:before {
              content: "";
              background: url('../images/menu/discount-b-icon.svg');
              width: 19px;
              height: 18px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/discount-b-icon-white.svg');
  
              }
              
            }
          }

          &.sales-pop {
            &:before {
              content: "";
              background: url('../images/menu/sales-pop.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/sales-pop-white.svg');
  
              }
              
            }
          }

          &.countdown-timer {
            &:before {
              content: "";
              background: url('../images/menu/countdown-timer.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/countdown-timer-white.svg');
  
              }
              
            }
          }

          &.upsell-order-bump {
            &:before {
              content: "";
              background: url('../images/menu/upsel.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/upsel-white.svg');
  
              }
              
            }
          }

          &.direct-checkout {
            &:before {
              content: "";
              background: url('../images/menu/upsel.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/upsel-white.svg');
  
              }
              
            }
          }

          &.stock-bar {
            &:before {
              content: "";
              background: url('../images/menu/upsel.svg');
              width: 19px;

            }

            &:hover {
              &:before {
                content: "";
                background: url('../images/menu/upsel-white.svg');
  
              }
              
            }
          }

        }

        a {
          padding-top: 12px;
          padding-bottom: 12px;
          text-decoration: none;

        }

        li, a {
          color: #757D9E;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background: #0875FF;
            color: #ffffff;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;

          }

        }
      }
    }

    .active-widgets {
      color: #073B4C;
      font-size: 15px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 22px 15px;
      cursor: pointer;

      @media (min-width: 1600px) {
        font-size: 16px;
      }
    }

    .request__feature-block {
      text-align: center;
      border-radius: 8px;
      border: 1px solid #2541AC;
      background: #2541AC;
      padding: 57px 3px 25px;
      margin: 95px 8px 0;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        bottom: -19px;
        width: 100%;
        height: 40px;
        background: url('../images/slide-layer.svg');
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

        @media ( min-width: 1441px ) and ( max-width: 2000px ) {
          background-size: cover;
          left: -1.4px;
          bottom: -31px;

        }
      }

      .ant-image {
        position: initial;
        display: inherit;

        .ant-image-img {
          width: inherit;

        }

      }

      .box-icon {
        position: absolute;
        top: -38px;
        left: 50%;
        transform: translateX(-50%);
        
      }

      .rating {
        margin-bottom: 22px;

        svg {
          color: #FEB423;

        }
      }

      .premium-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 9px;

      }
  
      h4, p, h5 {
        color: #ffffff;

      }

      h5 {
        font-size: 14px;
        font-weight: 600;

      }

      h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        margin-bottom: 4px;

      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 20px;

      }

      .ant-btn {
        border-radius: 6px;
        background: #0875FF;
        padding: 0 16px;
        border: 0;

      }
    }

   

  }

  &-module {
    flex-basis: 83%;
    max-width: 100%;

    @media ( min-width: 1500px ) and ( max-width: 2000px ) {
      flex-basis: 74%;

      &-box-content {
        // padding-left: 0 !important;
        padding: 30px 0 0 30px;

      }
      
    }

    @media ( min-width: 768px ) and ( max-width: 1024px ) {
      flex-basis: 71%;

      .module-banner {
        .ant-image {
          width: 100% !important;

        }
      }

      .doc-btn {
        gap: 2px !important;

      }

      &-box-content {
        // padding-left: 0 !important;
        padding: 8px 0 0 8px

      }

    }

    @media ( min-width: 1440px ) and ( max-width: 2000px ) {

      .module-banner {
        .ant-image {
          width: 100% !important;

        }
      }

    }

    .ant-alert-warning {
      margin: 13px 0px 0 14px;

    }

    &-top-bar {
      background: #ffffff;
      padding: 20px 0;
      margin-bottom: 0;

      @media ( max-width: 767px ) {
        margin-bottom: 30px;
        
      }

      .help-btn {
        margin: 0px 30px 0 10px;
    
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 210px;
          height: 46px;
          border-radius: 8px;
          gap: 15px;
          padding: 0;

          span {
            font-size: 18px;
            font-weight: 700;

          }
    
        }
      }

    }

    @media ( max-width: 767px ) {
      &-box-content {
        display: block;

        & > div {
          max-width: 100% !important;

        }

        .module-banner {
          .ant-image {
            width: 100% !important;

          }
        }

        .sgsb-module-card {
          .ant-card-body {
            & > div {
              display: block;

            }
          }
        }
      }
    }

    @media ( min-width: 1440px ) and ( max-width: 2000px ) {

      &-box-content {
        .sgsb-module-card {
          .ant-card-body {
            & > div {
              display: block;

            }
          }
        }
      }

    }

    @media (min-width: 1300px) and (max-width: 1550px) {
      &-box-content {
        padding: 6px 0 0 14px;

        .sgsb__module-footer {
          padding: 15px !important;

          .switch-btn[class] {
            float: left !important;
            padding-left: 10px;

          }
        }
  
      }
    }

  }
}

#sbooster-settings-page {
  .sgsb-header {
    display: inline-block;

    .sgsb-logo {
      margin: 15px auto 10px;
      display: inline-block;

    }
  }
}