/*
	Custom CSS
*/

/* WordPress reset style */
body {
    background: #f0f0f1;
    color: #3c434a;
    font-size: 13px;
    line-height: 1.4em;
}

.storegrowth_page_sgsb-modules #wpcontent, .storegrowth_page_sgsb-settings #wpcontent {
    background: #F4F7FF;
    padding-left: 14px !important;

}

.storegrowth_page_sgsb-modules #wpcontent .wrap, .storegrowth_page_sgsb-settings #wpcontent .wrap {
    /* margin: 0; */

}

.storegrowth_page_sgsb-modules #wpcontent #sbooster-modules-page .ant-layout, 
.storegrowth_page_sgsb-settings #sbooster-settings-page .ant-layout {
    background: #F4F7FF;
}

.sgsb-header.ant-layout-header {
    background-color: #fff;
    padding: 0;
    margin: 0;

}

.sgsb-logo {
    font-size: 23px;
}
.sgsb-module-card img {
    width: 100%;
    height: auto;

}

li.ant-menu-item a:focus {
    outline: 0 none;
    box-shadow: none;
}

/* Page loading effect */
.sgsb-layout-relative {
    position: relative;
}
@keyframes sgsb-loader-ld-spin {
    0% {
        animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.sgsb-page-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.sgsb-page-loader-ring {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 3em;
    height: 3em;
    margin: -1.5em;
    transition: all .3s;
    transition-timing-function: ease-in;
    box-sizing: content-box;
    animation: sgsb-loader-ld-spin 1s infinite linear;
}
.sgsb-page-loader-ring:after {
    content: " ";
    display: block;
    width: 6em;
    height: 6em;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    border-radius: 50%;
    border: 0.5em solid #2270b1;
    border-left-color: transparent;
}

/* Form start */
.ant-form input[type="checkbox"]:disabled,
.ant-form input[type="radio"]:disabled {
    opacity: 0;
}
.ant-form .ant-form-item-label label {
    font-weight: 600;
}
.sgsb-field-upgrade-pro-label {
    color: #1890ff;
}
/* Form end */

.sgsb-module-card {
    margin-bottom: 10px;
}
