@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&display=swap");

//Dashboard Container
.dashboard {
  font-family: "IBM Plex Sans";

  //Dashboard tab container
  .dashboad-tab {
    gap: 50px;
    list-style: none;
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
    margin: 0px;

    .dashboad-tab-singel-overview,
    .dashboad-tab-singel-pricing,
    .dashboad-tab-singel-faqs,
    .dashboad-tab-singel-license {
      a {
        color: #073b4c;
        border: 1px solid #dde6f9;
        cursor: pointer;
        padding: 12px 28px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        background-color: transparent;
        text-decoration: none;
        color: inherit;
        display: block;
      }

      a:focus {
        box-shadow: none;
        outline: none !important;
      }
    }

    .dashboad-tab-singel-overview span,
    .dashboad-tab-singel-pricing span,
    .dashboad-tab-singel-faqs span,
    .dashboad-tab-singel-license span {
      font-size: 18px;
      font-weight: 600;
      color: #073b4c;
    }

    .dashboad-tab-singel-overview span {
      color: white;
    }
  }

  .dashboad-content {
    margin: 50px 0 80px;
    width: 90%;

    // Intro Section
    .intro-section {
      margin-top: 40px;
      background-color: white;
      border: 1px solid #dde6f9;
      border-radius: 10px;
      box-shadow: 0px 25px 20px 0px rgba(45, 73, 109, 0.03);
      overflow: hidden;

      .intro-section-banner {
        display: flex;
        justify-content: space-between;

        iframe {
          width: -webkit-fill-available;
        }

        .intro-section-text {
          padding: 40px 0px 0px 40px;

          h3 {
            color: #073b4c;
            font-family: "IBM Plex Sans";
            font-size: 30px;
            font-weight: 700;
            line-height: 1.3em;
            margin-top: 10px;
          }

          .music-player-background-is-the-background {
            background-color: rgba(255, 190, 100, 0.2);
            height: 85px;
            width: 85px;
            border-radius: 50%;
            position: relative;

            .music-player-background {
              background-color: #ffbe64;
              height: 69px;
              width: 69px;
              border-radius: 50%;
              position: absolute;
              left: 8px;
              top: 8px;
              position: relative;

              svg {
                font-size: 56px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-45%, -50%);
                color: white;
              }
            }
          }
        }

        .inrto-section-img-backgroud {
          width: 408px;
          height: 290px;
          margin-top: 20px;
          background-repeat: no-repeat;
        }
      }
    }

    //Doc Styling section
    .info-section {
      margin-top: 40px;
      background-color: #f4f7ff;

      .info-section-containt {
        display: flex;
        justify-content: space-between;

        .documentation-section {
          width: 45%;
          border: 1px solid #dde6f9;
          border-radius: 10px;
          background-color: #ffffff;

          .documentation-section-containt {
            margin: 40px;

            .documentation-icon-background.doc-icon {
              background-color: #0875ff;
            }

            .documentation-icon-background.email-icon {
              background-color: #ffac27;
            }

            .documentation-icon-background {
              height: 70px;
              width: 70px;
              border-radius: 50%;
              position: relative;

              .documentation-icon {
                height: 34px;
                width: 35.33px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(50%, 10%);
              }
            }

            h3 {
              color: #073b4c;
              font-size: 24px;
              margin-top: 40px;
              font-weight: 600;
              margin-bottom: 0px;
            }

            p {
              color: #073b4c;
              font-size: 16px;
              margin-top: 25px;
              margin-bottom: 40px;
            }

            a {
              color: #073b4c;
              font-size: 18px;
              font-weight: 600;
              text-decoration-line: underline;
              text-underline-offset: 0.1em;

              &:focus {
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    //feature Request Section
    .request-features {
      border: 1px solid #dde6f9;
      border-radius: 10px;
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background-color: white;
      padding: 40px 58px;

      .request-icon-background {
        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #dde6f9;
        position: absolute;
        top: -51px;

        img {
          height: 50px;
          width: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(50%, 20%);
        }
      }

      h3 {
        color: #073b4c;
        font-size: 22px;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 0px;
      }

      p {
        color: #073b4c;
        font-size: 16px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 0px;
      }

      span {
        border-radius: 5px;
        border: 1px solid #f37a50;
        margin-top: 30px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 186px;
          height: 53px;
        }

        &:hover {
          background-color: #f37a50;

          a {

            color: white;
          }
        }
      }

      a {
        font-size: 18px;
        font-weight: 600;
        color: #f37a50;
        text-align: center;
        text-decoration: none;
        width: 134px;

        &:focus {
          box-shadow: none;
        }
      }
    }

    /**
    *
    * Pricing Section
    *
    */

    // Offer Section
    .sg_pro_btm_left {
      display: flex;
      flex-direction: column;
      gap: 40px;

      h3 {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }

      .sg_comparison_table {
        display: flex;
        justify-content: space-between;

        .sg_pro_chart,
        .sg_pro_chart_2 {
          border: 1px solid #dde6f9;
          border-radius: 10px;
          background: #fff;
          width: 45%;

          .sg-feature-list {
            padding: 15px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          h5 {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
            border-bottom: 1px solid #dde6f9;
            padding: 20px 0px;

            span {
              color: #98a7ac;
            }
          }

          ul {
            li {
              list-style: none;
              font-size: 14px;
              font-weight: 400;
              padding: 0px 40px;
              display: flex;
              gap: 10px;
              margin-top: 15px;
            }
          }
        }
      }
    }

    //packages Section
    .sg_pricing_table {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .sgsb-pricing-heading {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;

        .gaurantee-badge {
          position: absolute;
          width: 7vw;
          right: 15vw;
          bottom: 70px;
        }

        .loop-arrow {
          width: 10vw;
          transform: rotate(16deg);
          position: absolute;
          bottom: 14px;
          right: 123px;
        }

        h3 {
          font-size: 28px;
          font-weight: 600;
          text-transform: capitalize;
          text-align: center;
          // padding-bottom: 50px;
          margin: 0;
          padding: 20px;
        }

        .pricing-table-heading-content {
          max-width: 380px;
          text-align: center;
        }

        a {
          text-decoration: none;
          padding-left: 148px;

          span {
            font-size: 16px;
            text-transform: capitalize;
            color: #fff;
            background: #0875ff;
            padding: 12px 51.5px;
            border-radius: 5px 5px 0 0;
          }
        }
      }

      .sg_package {
        // border: 1px solid #DDE6F9;
        border-radius: 10px;
        // overflow: hidden;

        table {
          width: -webkit-fill-available;
          border-radius: 10px;
          background: #fff;
          border-spacing: 0px;

          colgroup {
            .bg {
              width: 179px;
              background: linear-gradient(to top,
                  #f6f9ff 0%,
                  #f6f9ff 80%,
                  #fff 80%,
                  #fff 100%);
            }

            .sg-most-popular-package-coloumn {
              background: linear-gradient(180deg,
                  #e3edff 0%,
                  rgba(241, 245, 254, 0) 100%);
            }
          }

          .row_1 {
            height: 130px;
          }

          tr,
          th,
          td {
            text-align: center;
            text-transform: capitalize;
            padding: 15px 0px;

            .sgsb-pricing-table-header {
              border-bottom: 2px solid #eff4ff;
            }

            &.pricing-table-data-highlight {
              font-weight: 700;
            }

            .sgsb-pricing-table-header-popular {
              border-bottom: 2px solid #0875ff;
            }

            .sg_package_rate {
              position: relative;
              display: flex;
              flex-direction: column;
              gap: 50px;

              .sg-package-title {
                font-size: 18px;
                font-weight: 600;
              }

              .sgsb-popular-packages {
                position: absolute;
                top: -64px;
                width: 100%;
                background: #0875ff;
                padding: 16px 0px;
                border-radius: 10px 10px 0px 0px;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                z-index: -1;
              }

              a {
                text-decoration: none;
                margin: 0;

                &:focus {
                  box-shadow: none;
                  outline: none;
                }

                span {
                  color: #fff;
                  text-transform: capitalize;
                  font-size: 14px;
                  font-weight: 500;
                  padding: 12px 10%;
                  border-radius: 5px;
                }

                .buy-button-normal {
                  background: #e8f2ff;
                  border: 1px solid #8dbfff;
                  color: #102f50;
                }

                .buy-button-popular {
                  background: #0875ff;
                }
              }

              .sgsb-pricing-data-content {
                h3 {
                  font-size: 32px;
                  font-weight: 600;
                  text-transform: capitalize;
                  height: 25px;
                  margin: 0;

                  span {
                    font-size: 16px;
                    font-weight: 400;
                    opacity: 0.4;
                  }
                }

                .sgsb-billing-type {
                  line-height: 30px;
                  font-weight: 400;
                  opacity: 0.6;
                }
              }
            }

            .sg_buy a {
              text-decoration: none;

              span {
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                padding: 11px 20px;
                border-radius: 5px;
                color: #fff;
              }

              .buy_1 {
                background: #ffac27;
              }

              .buy_2 {
                background: #0875ff;
              }

              .buy_3 {
                background: #073b4c;
              }
            }
          }
        }
      }
    }

    /**
    *
    * Faq Section
    *
    */

    .faqs_wrapper {
      .faqs-heading {
        margin-top: 40px;
        margin-bottom: 30px;

        h4 {
          margin: 0px;
          font-size: 28px;
          font-weight: 600;
          color: #073b4c;
        }
      }

      .ant-collapse-header {
        font-size: 20px;
        font-weight: 700;
        color: #073b4c;

        .ant-collapse-expand-icon {
          .ant-image {
            .faq-collapse-icon {
              height: 9px;
              width: 15px;
            }

          }
        }
      }

      .ant-collapse-content-box {
        margin-bottom: 0px;

        p {
          color: #073b4c;
          font-size: 16px;
          line-height: 1.4;
          opacity: 0.8;
        }
      }
    }

    //License Container



  }

  @media (max-width: 1024px) {
    .dashboad-tab {
      gap: 35px;
      z-index: 1;
      position: relative;
    }

    .dashboad-content {
      margin-top: 30px;

      .intro-section {
        margin-top: 0;

        .intro-section-text {
          h3 {
            font-size: 24px !important;
            margin-top: 16px !important;
          }
        }
      }

      .info-section {
        margin-top: 30px;

        .info-section-containt {
          display: block;

          .documentation-section {
            width: 100%;

            .documentation-section-containt {
              margin: 30px 35px;

              h3 {
                margin-top: 30px;
              }

              p {
                margin-top: 20px;
                margin-bottom: 35px;
              }
            }

            &:first-child {
              margin-bottom: 30px;
            }
          }
        }
      }

      .request-features {
        padding: 40px 35px;

        h3 {
          line-height: 1.5;
          text-align: center;
        }
      }

      .faqs_wrapper {
        .ant-collapse-content-box {
          width: 100%;
        }

        .faqs-heading {
          margin-top: 30px;
        }
      }

      .sg_pricing_table {
        .sgsb-pricing-heading {
          .gaurantee-badge {
            right: 13vw;
            bottom: 60px;
          }

          .loop-arrow {
            right: 100px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .dashboad-content {
      .intro-section {
        .intro-section-text {
          h3 {
            font-size: 22px !important;
            margin-top: 20px !important;
          }
        }
      }

      .faqs_wrapper {
        .faqs-heading {
          h4 {
            font-size: 24px;
          }
        }

        .ant-collapse-header {
          font-size: 20px;
        }

        .ant-collapse-content {
          p {
            font-size: 14px;
          }
        }
      }

      .sg_pricing_table {
        .sgsb-pricing-heading {
          h3 {
            font-size: 24px;
          }

          .gaurantee-badge {
            right: 15vw;
          }
        }

        .sgsb-pricing-table-header,
        .sgsb-pricing-table-header-popular {
          .sg-package-title {
            font-size: 16px !important;
          }

          .buy-button-normal,
          .buy-button-popular {
            font-size: 13px !important;
            padding: 8px 8% !important;
          }

          .sgsb-pricing-data-content {

            .yearly-price,
            .monthly-price {
              font-size: 24px !important;
            }
          }
        }

        td {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 430px) {
    .dashboad-tab {
      gap: 45px;
      display: block;

      .dashboad-tab-singel-overview,
      .dashboad-tab-singel-pricing,
      .dashboad-tab-singel-faqs,
      .dashboad-tab-singel-license {
        display: flex;
        margin-bottom: 10px;
      }
    }
  }
}

// Promotion block design
.sgsb-promotion-block {
  margin: auto;

  .sg_pro_btm_btm {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h4 {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
      // line-height: 0;
      margin-top: 22px;
    }

    h6 {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      margin-top: 15px;

      a:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .request__feature-block {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #2541ac;
    background: #2541ac;
    padding: 57px 20px 25px;
    margin: 120px 8px 0;
    position: relative;

    @media (min-width: 320px) and (max-width: 520px) {
      margin-bottom: 60px;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: -19px;
      width: 100%;
      height: 40px;
      background: url("../images/slide-layer.svg");
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;

      @media (min-width: 320px) and (max-width: 520px) {
        background-size: cover;
        bottom: -31px;
      }

      @media (min-width: 1441px) and (max-width: 2000px) {
        background-size: cover;
        left: -1.4px;
        bottom: -31px;
      }
    }

    .ant-image {
      position: initial;
      display: inherit;

      .ant-image-img {
        width: inherit;
      }
    }

    .box-icon {
      position: absolute;
      top: -38px;
      left: 50%;
      transform: translateX(-50%);
    }

    .rating {
      margin-bottom: 22px;

      svg {
        color: #feb423;
      }
    }

    .premium-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 9px;

      &:focus {
        color: #ffffff;
        box-shadow: none;
      }
    }

    h4,
    p,
    h5 {
      color: #ffffff;
    }

    h5 {
      font-size: 14px;
      font-weight: 600;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      margin-bottom: 4px;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      margin-bottom: 20px;
    }

    .ant-btn {
      border-radius: 6px;
      background: #0875ff;
      padding: 0 16px;
      border: 0;
    }
  }

  @media (min-width: 320px) and (max-width: 520px) {
    .request__feature-block {
      margin-bottom: 60px;

      &:before {
        background-size: cover;
        bottom: -31px;
      }
    }
  }

  @media (max-width: 1024px) {
    .sg_pro_btm_btm {
      .ant-image {
        width: 150px !important;
      }
    }

    .request__feature-block {
      margin-top: 82px;
      padding: 50px 14px 25px;

      h4 {
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
      }

      .ant-btn {
        gap: 5px;
        height: 32px;
        padding: 0 6px;

        span {
          font-size: 12px;
        }

        .ant-image {
          width: 14px !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .sg_pro_btm_btm {
      .ant-image {
        width: 130px !important;
      }
    }
  }

  @media (min-width: 1441px) and (max-width: 2000px) {
    .request__feature-block {
      &:before {
        background-size: cover;
        left: -1.4px;
        bottom: -31px;
      }
    }
  }
}
